.flip-tile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin-top: 2rem;
  max-width: 100%;
  flex-wrap: wrap;
}

.flip-tile > ix-flip-tile {
  margin: 0 0.5rem 0.5rem 0;
}
