@use 'tokens/system' as sys;

@use './layout-auto.vars' as *;
:host {
  display: block;
  position: relative;
  margin: var(--ix-layout-auto--margin);

  --ix-layout-grid-gap: var(--ix-layout-auto--layout-grid-gap);

  .container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: var(--ix-layout-grid-gap);
  }

  ::slotted(*) {
    flex-grow: 0;
    flex-shrink: 0;
  }
}
