@use 'tokens/system' as sys;

:host {
  display: block;
  position: relative;
  margin: 0 #{sys.$si-sys-sizing-spacing-x-50};

  --ix-layout-grid-gap: #{sys.$si-sys-sizing-spacing-x-80};

  .container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: var(--ix-layout-grid-gap);
  }

  ::slotted(*) {
    flex-grow: 0;
    flex-shrink: 0;
  }
}
