/*
 * SPDX-FileCopyrightText: 2022 Siemens AG
 *
 * SPDX-License-Identifier: MIT
 */

@import 'common-variables';
@import 'mixins/fonts';
@import 'mixins/hover';
@import 'mixins/text-truncation';

:host {
  display: flex;
  flex-direction: column;
  background-color: var(--theme-blind-base--background);
  border: solid var(--theme-blind--border-thickness)
    var(--theme-blind-base--border-color);
  border-radius: var(--theme-blind--border-radius);
  overflow: hidden;

  .blind-header {
    @include ellipsis;

    display: flex;
    align-items: center;
    min-height: 3rem;
    height: 3rem;
    border: solid var(--theme-blind--border-thickness) transparent;
    border-radius: var(--theme-blind--border-radius)
      var(--theme-blind--border-radius) 0 0;
    padding-right: $default-space;
    transition: border-radius $default-time;
    cursor: pointer;

    z-index: 1;

    color: var(--theme-blind-header-closed--color);
    background-color: var(--theme-blind-header-closed--background);

    .glyph {
      color: var(--theme-blind-header-icon-closed--color);
      padding: $tiny-space $small-space;
    }

    .blind-header-title {
      @include ellipsis;

      .blind-header-title-default {
        @include text-l-title;
      }
    }

    @include hover {
      background-color: var(--theme-blind-header-open--background--hover);

      .glyph {
        color: var(--theme-blind-header-icon-open--color--hover);
      }
    }

    @include active {
      background-color: var(--theme-blind-header-open--background--active);

      .glyph {
        color: var(--theme-blind-header-icon-open--color--active);
      }
    }

    @include focus {
      border-color: var(--theme-focus--border-color);
    }

    &.closed {
      border-radius: var(--theme-blind--border-radius);

      @include hover {
        background-color: var(--theme-blind-header-open--background--hover);

        .glyph {
          color: var(--theme-blind-header-icon-closed--color--hover);
        }
      }

      @include active {
        background-color: var(--theme-blind-header-open--background--active);

        .glyph {
          color: var(--theme-blind-header-icon-closed--color--active);
        }
      }
    }
  }

  .blind-custom-header {
    display: flex;
    align-items: center;
  }

  .blind-content {
    display: block;
    padding: 1rem;
    max-height: 1;
    transition-property: padding;
    transition-duration: $default-time;
    transition-timing-function: ease-in;

    &.hide {
      max-height: 0;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
}
