name: 'Execute visual regression tests'
description: 'Execute visual regression tests'
runs:
  using: 'composite'
  steps:
    - name: Install Playwright Browsers
      run: npx playwright install chromium --with-deps
      shell: bash

    - name: Run Playwright tests
      run: yarn workspace @siemens/ix run test:e2e
      shell: bash

    - uses: actions/upload-artifact@v2
      if: always()
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 2
