@mixin setVars {
  --theme-color-0: rgba(255, 255, 255, 0);
  --theme-color-1: #ffffff;
  --theme-color-2: #eff0f1;
  --theme-color-3: #e2e4e6;
  --theme-color-4: #d8dadd;
  --theme-color-5: #cfd2d5;
  --theme-color-6: #c8cbcf;
  --theme-color-7: #c2c6ca;
  --theme-color-8: #92979b;
  --theme-color-std-bdr: rgba(0, 20, 40, 0.3);
  --theme-color-soft-bdr: rgba(0, 20, 40, 0.2);
  --theme-color-weak-bdr: rgba(35, 48, 60, 0.15);
  --theme-color-x-weak-bdr: rgba(174, 181, 189, 0.2);
  --theme-color-focus-bdr: #199fff;
  --theme-color-contrast-bdr: #000000;
  --theme-color-hard-bdr: #b2b8be;
  --theme-color-ghost: rgba(166, 171, 140, 0);
  --theme-color-ghost--hover: rgba(168, 173, 179, 0.2);
  --theme-color-ghost--active: rgba(168, 173, 179, 0.3);
  --theme-color-ghost--selected: rgba(0, 234, 255, 0.2);
  --theme-color-ghost--selected-hover: rgba(32, 184, 197, 0.2);
  --theme-color-ghost--selected-active: rgba(0, 145, 158, 0.2);
  --theme-color-ghost-primary--active: rgba(0, 190, 207, 0.2);
  --theme-color-ghost-primary--hover: rgba(0, 234, 255, 0.2);
  --theme-color-ghost-alt: rgba(0, 20, 40, 0.05);
  --theme-color-ghost-alt--hover: rgba(168, 173, 179, 0.2);
  --theme-color-ghost-alt--active: rgba(168, 173, 179, 0.35);
  --theme-color-ghost-alt--selected: rgba(0, 216, 236, 0.2);
  --theme-color-ghost-alt--selected-hover: rgba(30, 171, 184, 0.25);
  --theme-color-ghost-alt--selected-active: rgba(0, 148, 161, 0.2);
  --theme-color-primary: #006e93;
  --theme-color-primary--contrast: #ffffff;
  --theme-color-primary--hover: #196269;
  --theme-color-primary--active: #16565c;
  --theme-color-primary--disabled: rgba(0, 110, 147, 0.3);
  --theme-color-dynamic: #005e66;
  --theme-color-dynamic--hover: #0f5157;
  --theme-color-dynamic--active: #0e494e;
  --theme-color-dynamic-alt: #00eaff;
  --theme-color-dynamic-alt--hover: #62e2ee;
  --theme-color-dynamic-alt--active: #5cd5e0;
  --theme-color-secondary: #ffffff;
  --theme-color-secondary--hover: #ccfbff;
  --theme-color-secondary--active: #b8edf2;
  --theme-color-component-1: rgba(168, 173, 179, 0.2);
  --theme-color-component-1--hover: rgba(168, 173, 179, 0.35);
  --theme-color-component-1--active: rgba(168, 173, 179, 0.45);
  --theme-color-component-2: rgba(0, 18, 36, 0.1);
  --theme-color-component-3: rgba(4, 20, 37, 0.2);
  --theme-color-component-4: rgba(5, 18, 31, 0.3);
  --theme-color-component-5: rgba(7, 18, 29, 0.45);
  --theme-color-component-6: rgba(11, 18, 25, 0.6);
  --theme-color-component-7--hover: #00eaff;
  --theme-color-component-7: rgba(0, 234, 255, 0.2);
  --theme-color-component-7--active: #00def2;
  --theme-color-component-error: #fcccd0;
  --theme-color-component-info: #ccdefc;
  --theme-color-component-8--hover: #d1fbff;
  --theme-color-component-8: #ebf7f8;
  --theme-color-component-9: #0b5e65;
  --theme-color-component-9--hover: #005d66;
  --theme-color-component-9--active: #00464d;
  --theme-color-component-9--disabled: rgba(0, 81, 89, 0.3);
  --theme-color-component-10: rgba(0, 81, 89, 0.75);
  --theme-color-component-10--hover: rgba(0, 93, 102, 0.75);
  --theme-color-component-10--active: rgba(0, 70, 77, 0.75);
  --theme-color-component-10--disabled: rgba(0, 81, 89, 0.15);
  --theme-color-1--hover: #eff0f1;
  --theme-color-1--active: #e2e4e6;
  --theme-color-component-11: rgba(213, 219, 226, 0.2);
  --theme-color-alarm: #d72332;
  --theme-color-alarm--hover: #c11f2d;
  --theme-color-alarm--active: #b41d2a;
  --theme-color-alarm--contrast: #ffffff;
  --theme-color-alarm-40: rgba(215, 35, 50, 0.4);
  --theme-color-alarm-10: rgba(215, 35, 50, 0.1);
  --theme-color-warning: #b88d00;
  --theme-color-warning--hover: #a88100;
  --theme-color-warning--active: #9e7900;
  --theme-color-warning--contrast: #000000;
  --theme-color-warning-40: rgba(184, 141, 0, 0.4);
  --theme-color-warning-10: rgba(184, 141, 0, 0.1);
  --theme-color-critical: #e97101;
  --theme-color-critical--hover: #d06501;
  --theme-color-critical--active: #c15e01;
  --theme-color-critical--contrast: #000000;
  --theme-color-critical-40: rgba(233, 113, 1, 0.4);
  --theme-color-success: #2c8500;
  --theme-color-success--hover: #277500;
  --theme-color-success--active: #246b00;
  --theme-color-success--contrast: #ffffff;
  --theme-color-success-40: rgba(44, 133, 0, 0.4);
  --theme-color-info: #0041b2;
  --theme-color-info--hover: #003a9e;
  --theme-color-info--active: #003694;
  --theme-color-info--contrast: #ffffff;
  --theme-color-info-40: rgba(0, 65, 177, 0.4);
  --theme-color-neutral: #66727e;
  --theme-color-neutral--hover: #66727e;
  --theme-color-neutral--active: #545e68;
  --theme-color-neutral--contrast: #ffffff;
  --theme-color-neutral-40: rgba(102, 114, 126, 0.4);
  --theme-color-contrast-text: #000000;
  --theme-color-std-text: rgba(0, 10, 20, 0.9);
  --theme-color-soft-text: rgba(0, 10, 20, 0.6);
  --theme-color-weak-text: rgba(0, 10, 20, 0.4);
  --theme-color-inv-contrast-text: #ffffff;
  --theme-color-inv-std-text: rgba(245, 250, 255, 0.9);
  --theme-color-inv-soft-text: rgba(229, 242, 255, 0.6);
  --theme-color-inv-weak-text: rgba(219, 237, 255, 0.45);
  --theme-color-alarm-text: #b81e3f;
  --theme-color-lightbox: rgba(255, 255, 255, 0.65);
  --theme-color-backdrop: rgba(255, 255, 255, 0.85);
  --theme-color-backdrop-3: rgba(226, 228, 230, 0.85);
  --theme-color-shadow-1: rgba(0, 0, 0, 0.1);
  --theme-color-shadow-3: rgba(0, 0, 0, 0.1);
  --theme-color-shadow-2: rgba(0, 0, 0, 0.2);
  --theme-color-gradient-effect-1: #006e93;
  --theme-color-gradient-effect-2: #16565c;
  --theme-color-logo: #000000;
  --theme-color-logo-login: #000000;
  --theme-chart-1: #008a7c;
  --theme-chart-1-40: rgba(0, 138, 124, 0.4);
  --theme-chart-2: #00572b;
  --theme-chart-2-40: rgba(0, 87, 43, 0.4);
  --theme-chart-3: #00838f;
  --theme-chart-3-40: rgba(0, 131, 143, 0.4);
  --theme-chart-4: #003c61;
  --theme-chart-4-40: rgba(0, 60, 97, 0.4);
  --theme-chart-5: #61778c;
  --theme-chart-5-40: rgba(97, 119, 140, 0.4);
  --theme-chart-6: #0076a8;
  --theme-chart-6-40: rgba(0, 118, 168, 0.4);
  --theme-chart-7: #182171;
  --theme-chart-7-40: rgba(24, 33, 113, 0.4);
  --theme-chart-8: #0041d6;
  --theme-chart-8-40: rgba(0, 65, 214, 0.4);
  --theme-chart-9: #4a52f2;
  --theme-chart-9-40: rgba(74, 82, 242, 0.4);
  --theme-chart-10: #7c40ff;
  --theme-chart-10-40: rgba(124, 64, 255, 0.4);
  --theme-chart-11: #900eec;
  --theme-chart-11-40: rgba(144, 14, 236, 0.4);
  --theme-chart-12: #aa32be;
  --theme-chart-12-40: rgba(170, 50, 190, 0.4);
  --theme-chart-13: #6f2542;
  --theme-chart-13-40: rgba(111, 37, 66, 0.4);
  --theme-chart-14: #9e5833;
  --theme-chart-14-40: rgba(158, 88, 51, 0.4);
  --theme-chart-15: #b74e2a;
  --theme-chart-15-40: rgba(183, 78, 42, 0.4);
  --theme-chart-16: #73735e;
  --theme-chart-16-40: rgba(115, 115, 94, 0.4);
  --theme-chart-17: #7a8000;
  --theme-chart-17-40: rgba(122, 128, 0, 0.4);
  --theme-chart-axes: rgba(0, 0, 0, 0.3);
  --theme-chart-grid-lines: rgba(0, 0, 0, 0.1);
  --theme-chart-grid-fill: #ffffff;
  --theme-chart-ticks: rgba(0, 0, 0, 0.3);
  --theme-chart-tooltip-fill: rgba(255, 255, 255, 0.8);
  --theme-chart-tooltip-bdr: rgba(0, 0, 0, 0.2);
  --theme-font-sans: 'Siemens Sans';
  --theme-font-code: 'JetBrains Mono';
  --theme-company-logo: company-logo-alt;
  --theme-label: 400 0.875rem/1.2 'Siemens Sans';
  --theme-label-lg: 400 1rem/1.2 'Siemens Sans';
  --theme-label-sm: 400 0.75rem/1.2 'Siemens Sans';
  --theme-label-xs: 400 0.625rem/1.2 'Siemens Sans';
  --theme-body: 400 0.875rem/1.43 'Siemens Sans';
  --theme-body-xs: 400 0.625rem/1.5 'Siemens Sans';
  --theme-body-sm: 400 0.75rem/1.5 'Siemens Sans';
  --theme-body-lg: 400 1rem/1.5 'Siemens Sans';
  --theme-display: 400 1.5rem/1 'Siemens Sans';
  --theme-display-xs: 400 1rem/1 'Siemens Sans';
  --theme-display-sm: 400 1.25rem/1 'Siemens Sans';
  --theme-display-lg: 400 1.8125rem/1 'Siemens Sans';
  --theme-display-xl: 700 2.1875rem/1 'Siemens Sans';
  --theme-display-xxl: 700 2.625rem/1 'Siemens Sans';
  --theme-h6: 700 0.75rem/1.5 'Siemens Sans';
  --theme-h5: 700 0.875rem/1.43 'Siemens Sans';
  --theme-h4: 700 1rem/1.5 'Siemens Sans';
  --theme-h3: 700 1.25rem/1.5 'Siemens Sans';
  --theme-h2: 700 1.5rem/1.43 'Siemens Sans';
  --theme-h1: 700 1.8125rem/1.2 'Siemens Sans';
  --theme-code: 400 0.875rem/1.5 'JetBrains Mono';
  --theme-code-sm: 400 0.75rem/1.5 'JetBrains Mono';
  --theme-code-lg: 400 1rem/1.5 'JetBrains Mono';
  --theme-text-h2: 700 1.375rem/1.455 'Siemens Sans';
  --theme-text-xl: 400 1.375rem/1.091 'Siemens Sans';
  --theme-text-l-title: 700 1rem/1.5 'Siemens Sans';
  --theme-text-l-title-single: 700 1rem/1.25 'Siemens Sans';
  --theme-text-l: 400 1rem/1.5 'Siemens Sans';
  --theme-text-l-single: 400 1rem/1.25 'Siemens Sans';
  --theme-text-default-underline: 400 0.875rem/1.429 'Siemens Sans';
  --theme-text-default-title: 700 0.875rem/1.429 'Siemens Sans';
  --theme-text-default-title-single: 700 0.875rem/1.143 'Siemens Sans';
  --theme-text-default: 400 0.875rem/1.429 'Siemens Sans';
  --theme-text-default-single: 400 0.875rem/1.143 'Siemens Sans';
  --theme-text-caption: 700 0.75rem/1.5 'Siemens Sans';
  --theme-text-caption-single: 700 0.75rem/1 'Siemens Sans';
  --theme-text-s: 400 0.75rem/1.5 'Siemens Sans';
  --theme-text-s-single: 400 0.75rem/1.5 'Siemens Sans';
  --theme-text-xs: 400 0.625rem/1.4 'Siemens Sans';
  --theme-shadow-1: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  --theme-shadow-2: -4px 0 8px 0 rgba(0, 0, 0, 0.2), 4px 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 16px 0 rgba(0, 0, 0, 0.1);
  --theme-shadow-3: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 0 8px 0 rgba(0, 0, 0, 0.1);
  --theme-shadow-4: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 12px 18px 0 rgba(0, 0, 0, 0.1);
  --theme-inset-shadow-1: inset 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  --theme-primary-bdr-1: 0.0625rem solid var(--theme-color-primary);
  --theme-primary-bdr-2: 0.125rem solid var(--theme-color-primary);
  --theme-dynamic-bdr-1: 0.0625rem solid var(--theme-color-dynamic);
  --theme-dynamic-bdr-2: 0.125rem solid var(--theme-color-dynamic);
  --theme-contrast-bdr-1: 0.0625rem solid var(--theme-color-contrast-bdr);
  --theme-contrast-bdr-2: 0.125rem solid var(--theme-color-contrast-bdr);
  --theme-std-bdr-1: 0.0625rem solid var(--theme-color-std-bdr);
  --theme-std-bdr-2: 0.125rem solid var(--theme-color-std-bdr);
  --theme-soft-bdr-1: 0.0625rem solid var(--theme-color-soft-bdr);
  --theme-soft-bdr-2: 0.125rem solid var(--theme-color-soft-bdr);
  --theme-soft-dashed-bdr-1: 0.0625rem dashed var(--theme-color-soft-bdr);
  --theme-soft-dashed-bdr-2: 0.125rem dashed var(--theme-color-soft-bdr);
  --theme-weak-bdr-1: 0.0625rem solid var(--theme-color-weak-bdr);
  --theme-weak-bdr-2: 0.125rem solid var(--theme-color-weak-bdr);
  --theme-x-weak-bdr-1: 0.0625rem solid var(--theme-color-x-weak-bdr);
  --theme-x-weak-bdr-2: 0.125rem solid var(--theme-color-x-weak-bdr);
  --theme-alarm-bdr-1: 0.0625rem solid var(--theme-color-alarm);
  --theme-alarm-bdr-2: 0.125rem solid var(--theme-color-alarm);
  --theme-critical-bdr-1: 0.0625rem solid var(--theme-color-critical);
  --theme-critical-bdr-2: 0.125rem solid var(--theme-color-critical);
  --theme-warning-bdr-1: 0.0625rem solid var(--theme-color-warning);
  --theme-warning-bdr-2: 0.125rem solid var(--theme-color-warning);
  --theme-success-bdr-1: 0.0625rem solid var(--theme-color-success);
  --theme-success-bdr-2: 0.125rem solid var(--theme-color-success);
  --theme-info-bdr-1: 0.0625rem solid var(--theme-color-info);
  --theme-info-bdr-2: 0.125rem solid var(--theme-color-info);
  --theme-neutral-bdr-1: 0.0625rem solid var(--theme-color-neutral);
  --theme-neutral-bdr-2: 0.125rem solid var(--theme-color-neutral);
}