# See http://help.github.com/ignore-files/ for more about ignoring files.

.yarn-cache

# compiled output
/dist
/tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.obsidian

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.turbo
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db


*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

UserInterfaceState.xcuserstate
.env
coverage
test-results/
playwright-report/
playwright/.cache/

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

blob-report

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
coverage


# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.turbo
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db


# Dependencies
/node_modules

# Production
/build

# Generated files
.docusaurus
.cache-loader

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

###
# Build output
##
packages/core/components/
packages/core/hydrate/
packages/*/dist/
test-apps/*/dist/
packages/*/www/
packages/*/loader/
packages/*/dist-transpiled/
packages/*/build/

###
# @siemens/ix
###

packages/core/dist-css

###
# html-test-app
###

packages/html-test-app/src/public/additional-theme

###
# ionic-test-app
###

packages/ionic-test-app/public/additional-theme

###
# documentation
###

packages/documentation/docs/installation/CHANGELOG.md
packages/documentation/docs/auto-generated/
packages/documentation/.build-temp
packages/documentation/scripts/.typedoc/
packages/documentation/static/auto-generated/
packages/documentation/static/ix-icon-svg/
packages/documentation/static/figma/
packages/documentation/static/webcomponent-examples/*
packages/documentation/static/ionic-preview
!packages/documentation/static/versioned_examples/*/webcomponent-examples

###
# artifact from bundle @siemens/ix-icons
###
ix-icons/dist/collection/components/icon/icon.css
