registry=https://registry.npmjs.org
@siemens:registry=https://registry.npmjs.org
puppeteer_skip_chromium_download=true
puppeteer_skip_chrome_headless_shell_download=true
puppeteer_skip_download=true
link-workspace-packages=deep
prefer-workspace-packages=true

# angular-test-app echarts depnendency needs public hoisting
public-hoist-pattern[]=zrender
public-hoist-pattern[]=claygl

# documentation
public-hoist-pattern[]=@docusaurus/*
public-hoist-pattern[]=hogan.js
public-hoist-pattern[]=autocomplete.js
public-hoist-pattern[]=mark.js
public-hoist-pattern[]=lunr

public-hoist-pattern[]=playwright
