registry=https://registry.npmjs.org
@siemens:registry=https://registry.npmjs.org
puppeteer_skip_chromium_download=true
puppeteer_skip_chrome_headless_shell_download=true
puppeteer_skip_download=true
link-workspace-packages=deep
prefer-workspace-packages=true

# angular-test-app echarts dependency needs public hoisting
public-hoist-pattern[]=zrender
public-hoist-pattern[]=claygl

public-hoist-pattern[]=eslint**


@siemens-ix:registry=https://code.siemens.com/api/v4/projects/249177/packages/npm/
//code.siemens.com/api/v4/projects/249177/packages/npm/:_authToken=CSC-glpat-8DWcw-i4-BbCpM2AArIuqW86MQp1OjZjNgk.01.0z0tlg2ce
