.angular/
.docusaurus/
.turbo/
node_modules/

/CHANGELOG.md
/CODE_OF_CONDUCT.md
/coverage
/packages/*/build/
/packages/*/dist/
/packages/*/dist-transpiled/
/packages/*/loader/
/packages/*/www/

/packages/documentation/static/webcomponent-examples/*
!/packages/documentation/static/versioned_examples/*/webcomponent-examples
