:host {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
  height: 50%;

  button {
    width: 50%;
    height: 50%;
    cursor: crosshair;
  }
}
