@use 'mixins/break-points';
@use 'mixins/shadow-dom/component';
@use './info-page.vars' as *;
@use 'tokens/system' as sys;

:host {
  @include component.ix-component;

  box-sizing: border-box;
  display: flex;
  width: 100%;
  min-height: 100%;
  padding: #{sys.$si-sys-sizing-spacing-y-90} #{sys.$si-sys-sizing-spacing-x-60};
}

.infoPage__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  max-width: #{sys.$si-sys-sizing-size-200};
  margin: auto;
  text-align: center;
}

.content__image {
  display: flex;
  align-items: end;
  justify-content: center;
  width: var(--ix-info-page-image-width);
  height: var(--ix-info-page-image-height);
  max-width: 100%;
  margin-block-end: calc(
    #{sys.$si-sys-sizing-spacing-y-90} + #{sys.$si-sys-sizing-spacing-y-40}
  );

  ix-icon {
    transform: scale(2);
  }
}

::slotted([slot='image']) {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.content__message {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: #{sys.$si-sys-sizing-size-190};
}

h1 {
  margin: 0;
}

:host(:not(.infoPage--hasActions)) .content__message h1:last-child {
  margin-block-end: #{sys.$si-sys-sizing-spacing-y-60};
}

.message__copy {
  margin-block-start: #{sys.$si-sys-sizing-spacing-y-60};
}

.message__instructions {
  margin-block-start: #{sys.$si-sys-sizing-spacing-y-60};
}

.content__action {
  display: none;
  justify-content: center;
  width: 100%;
  margin-block-start: #{sys.$si-sys-sizing-spacing-y-90};
}

:host(.infoPage--hasActions) .content__action {
  display: flex;
}

slot[name='actions'] {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: #{sys.$si-sys-sizing-spacing-x-40};
}

@include break-points.media-breakpoint-match('sm') {
  :host {
    padding: #{sys.$si-sys-sizing-spacing-y-80} #{sys.$si-sys-sizing-spacing-x-60};
  }
}
