@use 'mixins/break-points';
@use 'mixins/shadow-dom/component';
@use './info-page.vars' as *;
@use 'tokens/system' as sys;

:host {
  @include component.ix-component;

  box-sizing: border-box;
  display: flex;
  width: 100%;
  min-height: 100%;
  padding: var(--ix-info-page--padding);
}

.infoPage__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  max-width: var(--ix-info-page-content--max-width);
  margin: auto;
  text-align: center;
}

.content__image {
  display: flex;
  align-items: end;
  justify-content: center;
  width: var(--ix-info-page-image-width);
  height: var(--ix-info-page-image-height);
  max-width: 100%;
  margin-block-end: var(--ix-info-page-content-image--margin-block-end);

  ix-icon {
    transform: scale(2);
  }
}

::slotted([slot='image']) {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.content__message {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--ix-info-page-content-message--max-width);
}

h1 {
  margin: 0;
}

:host(:not(.infoPage--hasActions)) .content__message h1:last-child {
  margin-block-end: var(--ix-info-page-content-message--margin-block-end);
}

.message__copy {
  margin-block-start: var(--ix-info-page-message-copy--margin-block-start);
}

.message__instructions {
  margin-block-start: var(
    --ix-info-page-message-instructions--margin-block-start
  );
}

.content__action {
  display: none;
  justify-content: center;
  width: 100%;
  margin-block-start: var(--ix-info-page-content-action--margin-block-start);
}

:host(.infoPage--hasActions) .content__action {
  display: flex;
}

slot[name='actions'] {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--ix-info-page--gap);
}

@include break-points.media-breakpoint-match('sm') {
  :host {
    padding: var(--ix-info-page--padding--mobile);
  }
}
