@use 'mixins/text-truncation';
@use 'tokens/system' as sys;

@use './key-value.vars' as *;
:host(.keyValue) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--ix-key-value--gap);

  .keyValue__icon {
    padding: var(--ix-key-value-icon--padding);
  }

  .keyValue__content {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;

    &,
    .content__label,
    .content__value {
      max-width: 100%;

      @include text-truncation.ellipsis;
    }

    .content__label {
      color: var(--ix-key-value-label--color);
    }

    .content__value {
      width: 100%;
    }
  }
}

:host(.keyValue.keyValue--column) {
  padding: var(--ix-key-value-column--padding);
  border-bottom: 1px solid var(--ix-key-value--border-color);

  .keyValue__content {
    flex-direction: column;

    .content__label,
    .content__value:not(.has-customValue) {
      padding: var(--ix-key-value-column-content--padding);
    }
  }
}

:host(.keyValue.keyValue--row) {
  padding: var(--ix-key-value-row--padding);

  .keyValue__content {
    flex-direction: row;
    gap: var(--ix-key-value-content--gap);
    align-items: center;

    .content__label,
    .content__value:not(.has-customValue) {
      padding: var(--ix-key-value-row-content--padding);
    }

    .content__label {
      min-width: var(--ix-key-value-content-label--min-width);
    }
  }
}
