/*
 * SPDX-FileCopyrightText: 2022 Siemens AG
 *
 * SPDX-License-Identifier: MIT
 */

.toast-container {
  display: block;
  position: absolute;
}

.toast-container--bottom-right {
  right: 1rem;
  bottom: 1rem;
}
