:host {
  display: inline-block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: var(--theme-z-index-tooltip);

  max-width: 18.25rem;

  opacity: 0;
  visibility: collapse !important;
  overflow-wrap: break-word;

  border-radius: 0.25rem;

  .tooltip-title {
    display: flex;
    align-items: center;

    ::slotted(ix-icon) {
      margin-right: 0.35rem;
    }
  }

  .tooltip-container {
    display: block;
    position: relative;
    width: auto;
    height: 100%;
    background: var(--theme-tootlip--background);
    color: var(--theme-color-std-text);
    padding: 0.375rem 0.75rem 0.375rem 0.875rem;

    box-shadow: var(--theme-shadow-4);
    border-radius: inherit;
  }
}

:host(.visible) {
  opacity: 1;
  visibility: visible !important;
}

:host(.visible) {
  .arrow,
  .arrow::before {
    position: absolute;
    width: 12px;
    height: 12px;
    background: inherit;
  }

  .arrow {
    visibility: hidden;
  }

  .arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
    background-color: var(--theme-tootlip--background);
  }
}
