/*
 * SPDX-FileCopyrightText: 2022 Siemens AG
 *
 * SPDX-License-Identifier: MIT
 */

@import 'mixins/hover';
@import 'common-variables';
@import 'mixins/hover';
@import 'mixins/text-truncation';

:host {
  display: flex;
  align-items: center;

  height: 32px;
  width: 100%;

  cursor: pointer;

  &:not(.disabled):not(:disabled):not(.selected) {
    &.hover,
    &:hover {
      background-color: var(--theme-ghost-hover);
    }

    &.active,
    &:active {
      background-color: var(--theme-ghost-pressed);
    }
  }

  &.selected {
    background-color: var(--theme-ghost-selected);
  }

  .tree-node-container {
    display: flex;
    align-items: center;
    height: $x-large-space;
    flex-grow: 1;
    align-items: center;
  }

  .icon-toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;

    ix-icon {
      transition: transform $default-time ease-in-out;

      &.icon-toggle-down {
        transform: rotate(90deg);
      }
    }
  }
}
