@mixin setVars {
  --theme-color-0: rgba(0, 0, 0, 0);
  --theme-color-1: #0f1619;
  --theme-color-2: #283236;
  --theme-color-3: #3c484d;
  --theme-color-4: #4c5a60;
  --theme-color-5: #59686f;
  --theme-color-6: #63737b;
  --theme-color-7: #6b7c85;
  --theme-color-8: #94a1a9;
  --theme-color-std-bdr: rgba(211, 236, 248, 0.55);
  --theme-color-soft-bdr: rgba(211, 236, 248, 0.4);
  --theme-color-weak-bdr: rgba(224, 245, 255, 0.25);
  --theme-color-x-weak-bdr: rgba(142, 157, 165, 0.2);
  --theme-color-focus-bdr: #199fff;
  --theme-color-contrast-bdr: #ffffff;
  --theme-color-hard-bdr: #6b7c85;
  --theme-color-ghost: rgba(255, 255, 255, 0);
  --theme-color-ghost--hover: rgba(140, 161, 171, 0.2);
  --theme-color-ghost--active: rgba(140, 161, 171, 0.15);
  --theme-color-ghost--selected: rgba(0, 255, 255, 0.1);
  --theme-color-ghost--selected-hover: rgba(104, 253, 253, 0.2);
  --theme-color-ghost--selected-active: rgba(115, 221, 221, 0.2);
  --theme-color-ghost-primary--active: rgba(0, 128, 128, 0.2);
  --theme-color-ghost-primary--hover: rgba(0, 255, 255, 0.15);
  --theme-color-ghost-alt: rgba(255, 255, 255, 0.05);
  --theme-color-ghost-alt--hover: rgba(140, 161, 171, 0.2);
  --theme-color-ghost-alt--active: rgba(140, 161, 171, 0.15);
  --theme-color-ghost-alt--selected: rgba(58, 255, 255, 0.15);
  --theme-color-ghost-alt--selected-hover: rgba(123, 253, 253, 0.25);
  --theme-color-ghost-alt--selected-active: rgba(132, 225, 225, 0.25);
  --theme-color-primary: #00bde3;
  --theme-color-primary--contrast: #000000;
  --theme-color-primary--hover: #1aecff;
  --theme-color-primary--active: #00eaff;
  --theme-color-primary--disabled: rgba(0, 170, 204, 0.45);
  --theme-color-dynamic: #00eaff;
  --theme-color-dynamic--hover: #62e2ee;
  --theme-color-dynamic--active: #5cd5e0;
  --theme-color-dynamic-alt: #00eaff;
  --theme-color-dynamic-alt--hover: #62e2ee;
  --theme-color-dynamic-alt--active: #5cd5e0;
  --theme-color-secondary: #000000;
  --theme-color-secondary--hover: #002639;
  --theme-color-secondary--active: #001d2b;
  --theme-color-component-1: rgba(140, 161, 171, 0.2);
  --theme-color-component-1--hover: rgba(140, 161, 171, 0.35);
  --theme-color-component-1--active: rgba(140, 161, 171, 0.25);
  --theme-color-component-2: rgba(211, 239, 253, 0.25);
  --theme-color-component-3: rgba(217, 243, 255, 0.4);
  --theme-color-component-4: rgba(214, 242, 255, 0.5);
  --theme-color-component-5: rgba(224, 245, 255, 0.6);
  --theme-color-component-6: rgba(217, 234, 242, 0.65);
  --theme-color-component-7--hover: #196269;
  --theme-color-component-7: rgba(0, 234, 255, 0.15);
  --theme-color-component-7--active: #16565c;
  --theme-color-component-error: #310006;
  --theme-color-component-info: #001c4d;
  --theme-color-component-8--hover: #002639;
  --theme-color-component-8: #00273b;
  --theme-color-component-9: #00eaff;
  --theme-color-component-9--hover: #52f1ff;
  --theme-color-component-9--active: #0aebff;
  --theme-color-component-9--disabled: rgba(0, 234, 255, 0.3);
  --theme-color-component-10: rgba(0, 234, 255, 0.75);
  --theme-color-component-10--hover: rgba(107, 243, 255, 0.6);
  --theme-color-component-10--active: rgba(10, 235, 255, 0.75);
  --theme-color-component-10--disabled: rgba(0, 234, 255, 0.2);
  --theme-color-1--hover: #283236;
  --theme-color-1--active: #222b2f;
  --theme-color-component-11: rgba(86, 97, 103, 0.2);
  --theme-color-alarm: #ff2453;
  --theme-color-alarm--hover: #ff577b;
  --theme-color-alarm--active: #ff335f;
  --theme-color-alarm--contrast: #000000;
  --theme-color-alarm-40: rgba(255, 38, 85, 0.4);
  --theme-color-alarm-10: rgba(255, 38, 85, 0.1);
  --theme-color-warning: #ffbb00;
  --theme-color-warning--hover: #ffc533;
  --theme-color-warning--active: #ffba0a;
  --theme-color-warning--contrast: #000000;
  --theme-color-warning-40: rgba(255, 187, 0, 0.4);
  --theme-color-warning-10: rgba(255, 187, 0, 0.1);
  --theme-color-critical: #eb7a0a;
  --theme-color-critical--hover: #ed8721;
  --theme-color-critical--active: #eb8014;
  --theme-color-critical--contrast: #000000;
  --theme-color-critical-40: rgba(235, 122, 10, 0.4);
  --theme-color-success: #44cc00;
  --theme-color-success--hover: #4eeb00;
  --theme-color-success--active: #47d600;
  --theme-color-success--contrast: #000000;
  --theme-color-success-40: rgba(68, 204, 0, 0.4);
  --theme-color-info: #357fff;
  --theme-color-info--hover: #4d8eff;
  --theme-color-info--active: #3d84ff;
  --theme-color-info--contrast: #000000;
  --theme-color-info-40: rgba(53, 127, 255, 0.4);
  --theme-color-neutral: #b6b8b9;
  --theme-color-neutral--hover: #c8cacb;
  --theme-color-neutral--active: #acaeaf;
  --theme-color-neutral--contrast: #000000;
  --theme-color-neutral-40: rgba(182, 184, 185, 0.4);
  --theme-color-contrast-text: #ffffff;
  --theme-color-std-text: rgba(245, 252, 255, 0.9);
  --theme-color-soft-text: rgba(229, 247, 255, 0.65);
  --theme-color-weak-text: rgba(219, 244, 255, 0.4);
  --theme-color-inv-contrast-text: #000000;
  --theme-color-inv-std-text: rgba(0, 10, 20, 0.9);
  --theme-color-inv-soft-text: rgba(0, 13, 20, 0.6);
  --theme-color-inv-weak-text: rgba(0, 13, 20, 0.45);
  --theme-color-alarm-text: #ff7694;
  --theme-color-lightbox: rgba(0, 0, 0, 0.65);
  --theme-color-backdrop: rgba(0, 0, 0, 0.85);
  --theme-color-backdrop-3: rgba(55, 70, 77, 0.85);
  --theme-color-shadow-1: rgba(0, 0, 0, 0.6);
  --theme-color-shadow-3: rgba(0, 0, 0, 0.6);
  --theme-color-shadow-2: #000000;
  --theme-color-gradient-effect-1: #1aecff;
  --theme-color-gradient-effect-2: #00bde3;
  --theme-color-logo: #ffffff;
  --theme-color-logo-login: #ffffff;
  --theme-chart-1: #00ffe7;
  --theme-chart-1-40: rgba(0, 255, 231, 0.4);
  --theme-chart-2: #94ffc9;
  --theme-chart-2-40: rgba(148, 255, 201, 0.4);
  --theme-chart-3: #00c2cc;
  --theme-chart-3-40: rgba(0, 194, 204, 0.4);
  --theme-chart-4: #a3eeff;
  --theme-chart-4-40: rgba(163, 238, 255, 0.4);
  --theme-chart-5: #90b4c5;
  --theme-chart-5-40: rgba(144, 180, 197, 0.4);
  --theme-chart-6: #42c6ff;
  --theme-chart-6-40: rgba(66, 198, 255, 0.4);
  --theme-chart-7: #7aaaff;
  --theme-chart-7-40: rgba(122, 170, 255, 0.4);
  --theme-chart-8: #9ebbff;
  --theme-chart-8-40: rgba(158, 187, 255, 0.4);
  --theme-chart-9: #9ea3ff;
  --theme-chart-9-40: rgba(158, 163, 255, 0.4);
  --theme-chart-10: #b999ff;
  --theme-chart-10-40: rgba(185, 153, 255, 0.4);
  --theme-chart-11: #d08fff;
  --theme-chart-11-40: rgba(208, 143, 255, 0.4);
  --theme-chart-12: #ed85ff;
  --theme-chart-12-40: rgba(237, 133, 255, 0.4);
  --theme-chart-13: #f38fc2;
  --theme-chart-13-40: rgba(243, 143, 194, 0.4);
  --theme-chart-14: #ef9a9a;
  --theme-chart-14-40: rgba(239, 154, 154, 0.4);
  --theme-chart-15: #ffb180;
  --theme-chart-15-40: rgba(255, 177, 128, 0.4);
  --theme-chart-16: #cacab4;
  --theme-chart-16-40: rgba(202, 202, 180, 0.4);
  --theme-chart-17: #b5bd00;
  --theme-chart-17-40: rgba(181, 189, 0, 0.4);
  --theme-chart-axes: rgba(255, 255, 255, 0.3);
  --theme-chart-grid-lines: rgba(255, 255, 255, 0.1);
  --theme-chart-grid-fill: #23233c;
  --theme-chart-ticks: rgba(255, 255, 255, 0.35);
  --theme-chart-tooltip-fill: rgba(15, 22, 25, 0.8);
  --theme-chart-tooltip-bdr: rgba(255, 255, 255, 0.25);
  --theme-font-sans: 'Siemens Sans';
  --theme-font-code: 'JetBrains Mono';
  --theme-company-logo: company-logo-alt;
  --theme-label: 400 0.875rem/1.2 'Siemens Sans';
  --theme-label-lg: 400 1rem/1.2 'Siemens Sans';
  --theme-label-sm: 400 0.75rem/1.2 'Siemens Sans';
  --theme-label-xs: 400 0.625rem/1.2 'Siemens Sans';
  --theme-body: 400 0.875rem/1.43 'Siemens Sans';
  --theme-body-xs: 400 0.625rem/1.5 'Siemens Sans';
  --theme-body-sm: 400 0.75rem/1.5 'Siemens Sans';
  --theme-body-lg: 400 1rem/1.5 'Siemens Sans';
  --theme-display: 400 1.5rem/1 'Siemens Sans';
  --theme-display-xs: 400 1rem/1 'Siemens Sans';
  --theme-display-sm: 400 1.25rem/1 'Siemens Sans';
  --theme-display-lg: 400 1.8125rem/1 'Siemens Sans';
  --theme-display-xl: 700 2.1875rem/1 'Siemens Sans';
  --theme-display-xxl: 700 2.625rem/1 'Siemens Sans';
  --theme-h6: 700 0.75rem/1.5 'Siemens Sans';
  --theme-h5: 700 0.875rem/1.43 'Siemens Sans';
  --theme-h4: 700 1rem/1.5 'Siemens Sans';
  --theme-h3: 700 1.25rem/1.5 'Siemens Sans';
  --theme-h2: 700 1.5rem/1.43 'Siemens Sans';
  --theme-h1: 700 1.8125rem/1.2 'Siemens Sans';
  --theme-code: 400 0.875rem/1.5 'JetBrains Mono';
  --theme-code-sm: 400 0.75rem/1.5 'JetBrains Mono';
  --theme-code-lg: 400 1rem/1.5 'JetBrains Mono';
  --theme-text-h2: 700 1.375rem/1.455 'Siemens Sans';
  --theme-text-xl: 400 1.375rem/1.091 'Siemens Sans';
  --theme-text-l-title: 700 1rem/1.5 'Siemens Sans';
  --theme-text-l-title-single: 700 1rem/1.25 'Siemens Sans';
  --theme-text-l: 400 1rem/1.5 'Siemens Sans';
  --theme-text-l-single: 400 1rem/1.25 'Siemens Sans';
  --theme-text-default-underline: 400 0.875rem/1.429 'Siemens Sans';
  --theme-text-default-title: 700 0.875rem/1.429 'Siemens Sans';
  --theme-text-default-title-single: 700 0.875rem/1.143 'Siemens Sans';
  --theme-text-default: 400 0.875rem/1.429 'Siemens Sans';
  --theme-text-default-single: 400 0.875rem/1.143 'Siemens Sans';
  --theme-text-caption: 700 0.75rem/1.5 'Siemens Sans';
  --theme-text-caption-single: 700 0.75rem/1 'Siemens Sans';
  --theme-text-s: 400 0.75rem/1.5 'Siemens Sans';
  --theme-text-s-single: 400 0.75rem/1.5 'Siemens Sans';
  --theme-text-xs: 400 0.625rem/1.4 'Siemens Sans';
  --theme-shadow-1: 0 2px 2px 0 #000000, 0 1px 1px 0 rgba(0, 0, 0, 0.6);
  --theme-shadow-2: -4px 0 8px 0 #000000, 4px 0 8px 0 #000000, 0 0 16px 0 rgba(0, 0, 0, 0.6);
  --theme-shadow-3: 0 2px 6px 0 #000000, 0 0 8px 0 rgba(0, 0, 0, 0.6);
  --theme-shadow-4: 0 0 2px 0 #000000, 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 12px 18px 0 rgba(0, 0, 0, 0.6);
  --theme-inset-shadow-1: inset 0 2px 4px 0 rgba(0, 0, 0, 0.6);
  --theme-primary-bdr-1: 0.0625rem solid var(--theme-color-primary);
  --theme-primary-bdr-2: 0.125rem solid var(--theme-color-primary);
  --theme-dynamic-bdr-1: 0.0625rem solid var(--theme-color-dynamic);
  --theme-dynamic-bdr-2: 0.125rem solid var(--theme-color-dynamic);
  --theme-contrast-bdr-1: 0.0625rem solid var(--theme-color-contrast-bdr);
  --theme-contrast-bdr-2: 0.125rem solid var(--theme-color-contrast-bdr);
  --theme-std-bdr-1: 0.0625rem solid var(--theme-color-std-bdr);
  --theme-std-bdr-2: 0.125rem solid var(--theme-color-std-bdr);
  --theme-soft-bdr-1: 0.0625rem solid var(--theme-color-soft-bdr);
  --theme-soft-bdr-2: 0.125rem solid var(--theme-color-soft-bdr);
  --theme-soft-dashed-bdr-1: 0.0625rem dashed var(--theme-color-soft-bdr);
  --theme-soft-dashed-bdr-2: 0.125rem dashed var(--theme-color-soft-bdr);
  --theme-weak-bdr-1: 0.0625rem solid var(--theme-color-weak-bdr);
  --theme-weak-bdr-2: 0.125rem solid var(--theme-color-weak-bdr);
  --theme-x-weak-bdr-1: 0.0625rem solid var(--theme-color-x-weak-bdr);
  --theme-x-weak-bdr-2: 0.125rem solid var(--theme-color-x-weak-bdr);
  --theme-alarm-bdr-1: 0.0625rem solid var(--theme-color-alarm);
  --theme-alarm-bdr-2: 0.125rem solid var(--theme-color-alarm);
  --theme-critical-bdr-1: 0.0625rem solid var(--theme-color-critical);
  --theme-critical-bdr-2: 0.125rem solid var(--theme-color-critical);
  --theme-warning-bdr-1: 0.0625rem solid var(--theme-color-warning);
  --theme-warning-bdr-2: 0.125rem solid var(--theme-color-warning);
  --theme-success-bdr-1: 0.0625rem solid var(--theme-color-success);
  --theme-success-bdr-2: 0.125rem solid var(--theme-color-success);
  --theme-info-bdr-1: 0.0625rem solid var(--theme-color-info);
  --theme-info-bdr-2: 0.125rem solid var(--theme-color-info);
  --theme-neutral-bdr-1: 0.0625rem solid var(--theme-color-neutral);
  --theme-neutral-bdr-2: 0.125rem solid var(--theme-color-neutral);
}