:host {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  padding-bottom: 1.5rem;
  gap: 1rem;

  width: 100%;

  .title-actions {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 0.25rem;
    margin-left: auto;
    margin-right: 0px;
  }
}
