@use 'tokens/system' as sys;

:host {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  margin-top: #{sys.$si-sys-sizing-spacing-y-20};
  margin-bottom: #{sys.$si-sys-sizing-spacing-y-20};
  gap: #{sys.$si-sys-sizing-spacing-x-60};

  width: 100%;

  .title-actions {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: #{sys.$si-sys-sizing-spacing-x-20};
    margin-left: auto;
    margin-right: 0;
  }
}
