@import 'common-variables';

:host {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  margin-top: 0.25rem;
  margin-bottom: $small-space;
  gap: $default-space;

  width: 100%;

  .title-actions {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 0.25rem;
    margin-left: auto;
    margin-right: 0px;
  }
}
