/*
 * SPDX-FileCopyrightText: 2022 Siemens AG
 *
 * SPDX-License-Identifier: MIT
 */

@import 'common-variables';
@import 'fonts';

:host {
  display: block;
  $padding: 5px;

  .validation-tooltip {
    background-color: var(--theme-tootlip--background);
    color: white;
    padding: $padding 10px;
    border-radius: 4px;
    font-size: 13px;
    border: 1px solid var(--theme-tooltip--border-color);

    #arrow,
    #arrow::before {
      position: absolute;
      width: 8px;
      height: 8px;
      background: inherit;
    }

    #arrow {
      visibility: hidden;
    }

    #arrow::before {
      visibility: visible;
      content: '';
      transform: rotate(45deg);
      background-color: var(--theme-tootlip--background);
    }
  }

  .validation-tooltip[data-popper-placement^='top'] > #arrow {
    bottom: -5px;
    &::before {
      border-right: 1px solid var(--theme-tooltip--border-color);
      border-bottom: 1px solid var(--theme-tooltip--border-color);
    }
  }

  .validation-tooltip[data-popper-placement^='bottom'] > #arrow {
    top: -5px;
    &::before {
      border-left: 1px solid var(--theme-tooltip--border-color);
      border-top: 1px solid var(--theme-tooltip--border-color);
    }
  }

  .validation-tooltip[data-popper-placement^='left'] > #arrow {
    right: -5px;
    &::before {
      border-right: 1px solid var(--theme-tooltip--border-color);
      border-top: 1px solid var(--theme-tooltip--border-color);
    }
  }

  .validation-tooltip[data-popper-placement^='right'] > #arrow {
    left: -5px;
    &::before {
      border-left: 1px solid var(--theme-tooltip--border-color);
      border-bottom: 1px solid var(--theme-tooltip--border-color);
    }
  }
}
