.echarts {
  position: relative;
  width: 100%;
  height: 40rem !important;
  padding-top: 1rem;
}

.empty-state-container {
  position: absolute;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--theme-color-backdrop);
  z-index: 1;
}
