@import 'common-variables';
@import 'mixins/shadows';

:host {
  $left: 4rem;
  display: block;
  position: fixed;
  width: 20rem;
  height: auto;
  background-color: var(--theme-color-1);
  border: var(--theme-weak-bdr-1);
  border-radius: $default-border-radius;
  padding: 1rem;
  left: $left;
  z-index: 10000;
  transition: left var(--animate-duration);

  margin-left: 0.5rem !important;

  @include box-shadow(2);

  &.expanded {
    left: calc(#{$left} + 12rem);
  }

  &.show {
    display: none;
  }

  .banner-container {
    position: absolute;
    top: 0.0625rem;
    left: $default-space;

    svg {
      position: absolute;
      height: 3.625rem;
      width: 3rem;

      polygon {
        fill: var(--theme-color-primary);
      }
    }

    ix-icon {
      margin: $small-space;
      position: absolute;
      z-index: 1;
    }
  }

  .cui-popover-news-header {
    margin-bottom: 2rem;
    margin-left: 4rem;
    margin-top: -$tiny-space;
  }

  .popover-body {
    color: var(--theme-color-std-text);
  }

  .cui-popover-news-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }

  #arrow {
    bottom: 14px;
    position: relative;
    left: -10px;
  }

  ix-icon-button {
    top: $small-space;
    right: $small-space;
    position: absolute;
  }

  svg#arrow {
    position: absolute;
    left: -$small-space;
    bottom: 0.4rem;

    path {
      fill: var(--theme-color-1);
      stroke: var(--theme-color-weak-bdr-1);
    }
  }
}
