/*
 * SPDX-FileCopyrightText: 2022 Siemens AG
 *
 * SPDX-License-Identifier: MIT
 */

@import './mixins/fonts';

.modal-header {
  @include text-default-title;
  padding: 0;
  padding-bottom: $tiny-space;
  border: none;
}

.modal-body {
  padding: 0;
}

.modal-footer {
  border-top: none;
  padding: 0;
  padding-block-start: $large-space;
}
