/*
 * SPDX-FileCopyrightText: 2022 Siemens AG
 *
 * SPDX-License-Identifier: MIT
 */

.Guideline {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.Icon {
  display: flex;
  margin-inline-end: 0.5rem;
}
