:host {
  display: flex;
  position: relative;
  flex-direction: column;

  .slot-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem
  }

  .bottom-text {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.25rem;
  }

  .text-icon {
    margin: 0.125rem;
  }
}
