@import "./field-wrapper.mixins.scss";

:host {
  display: flex;
  position: relative;
  flex-direction: column;

  .slot-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    gap: 0.25rem;
  }

  .field-bottom,
  .field-top {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    gap: 1rem;
    width: min-content;
    min-width: 100%;
  }

  .field-bottom .bottom-right {
    margin-left: auto;
    margin-right: 0px;
  }

  .field-bottom .bottom-left {
    margin-left: 0px;
    margin-right: auto;
  }

  @include helper-text;

  .bottom-text {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
}
