@mixin setVars {
  --theme-action-card-primary-subtext--color: var(--theme-color-primary--contrast);
  --theme-action-card-filled-subtext--color: var(--theme-color-soft-text);
  --theme-action-card-outline-subtext--color: var(--theme-color-soft-text);
  --theme-action-card-alarm-subtext--color: var(--theme-color-alarm--contrast);
  --theme-action-card-warning-subtext--color: var(--theme-color-warning--contrast);
  --theme-action-card-info-subtext--color: var(--theme-color-info--contrast);
  --theme-action-card-critical-subtext--color: var(--theme-color-critical--contrast);
  --theme-action-card-success-subtext--color: var(--theme-color-success--contrast);
  --theme-action-card-neutral-subtext--color: var(--theme-color-neutral--contrast);
  --theme-action-card--border-radius: var(--theme-default-border-radius);
  --theme-action-card--border-width: var(--theme-border-width-default);
  --theme-action-card--focus--outline-offset: var(--theme-focus-outline-offset);
}