@mixin setVars {
  --theme-breadcrumb-ghost-arrow--color: var(--theme-color-soft-text);
  --theme-breadcrumb-ghost-arrow--color--hover: var(--theme-color-dynamic);
  --theme-breadcrumb-ghost-arrow--color--active: var(--theme-color-dynamic);
}