@mixin setVars {
  --theme-breadcrumb-ghost--color: var(--theme-color-primary);
  --theme-breadcrumb-ghost--color--hover: var(--theme-color-dynamic);
  --theme-breadcrumb-ghost--color--active: var(--theme-color-dynamic);
  --theme-breadcrumb-ghost--background: var(--theme-color-ghost);
  --theme-breadcrumb-ghost--background--hover: var(--theme-color-ghost--hover);
  --theme-breadcrumb-ghost--background--active: var(--theme-color-ghost--active);
}