@mixin setVars {
  --theme-btn-subtle--background--hover: var(--theme-color-component-1--hover);
  --theme-btn-subtle--background--active: var(--theme-color-component-1--active);
  --theme-btn-subtle--color: var(--theme-color-std-text);
  --theme-btn-subtle--color--hover: var(--theme-color-std-text);
  --theme-btn-subtle--color--active: var(--theme-color-std-text);
  --theme-btn-subtle--color--disabled: var(--theme-color-weak-text);
  --theme-btn-subtle--border-color: var(--theme-color-0);
  --theme-btn-subtle--border-color--hover: var(--theme-color-0);
  --theme-btn-subtle--border-color--active: var(--theme-color-0);
  --theme-btn-subtle--border-color--disabled: var(--theme-color-0);
  --theme-btn-subtle--background: var(--theme-color-component-1);
  --theme-btn-subtle--background--disabled: var(--theme-color-component-1);
}