@mixin setVars {
  --theme-btn-primary--background: var(--theme-color-primary);
  --theme-btn-primary--background--hover: var(--theme-color-primary--hover);
  --theme-btn-primary--background--active: var(--theme-color-primary--active);
  --theme-btn-primary--background--pressed: var(--theme-color-dynamic);
  --theme-btn-primary--background--pressed-hover: var(--theme-color-dynamic--hover);
  --theme-btn-primary--background--pressed-active: var(--theme-color-dynamic--active);
  --theme-btn-primary--background--disabled: var(--theme-color-component-4);
  --theme-btn-primary--color: var(--theme-color-primary--contrast);
  --theme-btn-primary--color--hover: var(--theme-color-primary--contrast);
  --theme-btn-primary--color--active: var(--theme-color-primary--contrast);
  --theme-btn-primary--color--pressed: var(--theme-color-primary--contrast);
  --theme-btn-primary--color--pressed-hover: var(--theme-color-primary--contrast);
  --theme-btn-primary--color--pressed-active: var(--theme-color-primary--contrast);
  --theme-btn-primary--color--disabled: var(--theme-color-primary--contrast);
  --theme-btn-primary--border-color: var(--theme-color-ghost);
  --theme-btn-primary--border-color--hover: var(--theme-color-ghost);
  --theme-btn-primary--border-color--active: var(--theme-color-ghost);
  --theme-btn-primary--border-color--pressed: var(--theme-color-ghost);
  --theme-btn-primary--border-color--pressed-hover: var(--theme-color-ghost);
  --theme-btn-primary--border-color--pressed-hover-active: var(--theme-color-ghost);
  --theme-btn-primary--border-color--disabled: var(--theme-color-ghost);
  --theme-btn-secondary--background: var(--theme-color-secondary);
  --theme-btn-secondary--background--hover: var(--theme-color-secondary--hover);
  --theme-btn-secondary--background--active: var(--theme-color-secondary--active);
  --theme-btn-secondary--background--pressed: var(--theme-color-ghost--selected);
  --theme-btn-secondary--background--pressed-hover: var(--theme-color-ghost--selected-hover);
  --theme-btn-secondary--background--pressed-active: var(--theme-color-ghost--selected-active);
  --theme-btn-secondary--background--disabled: var(--theme-color-ghost);
  --theme-btn-secondary--color: var(--theme-color-primary);
  --theme-btn-secondary--color--hover: var(--theme-color-dynamic);
  --theme-btn-secondary--color--active: var(--theme-color-dynamic);
  --theme-btn-secondary--color--pressed: var(--theme-color-dynamic);
  --theme-btn-secondary--color--pressed-hover: var(--theme-color-dynamic);
  --theme-btn-secondary--color--pressed-active: var(--theme-color-dynamic);
  --theme-btn-secondary--color--disabled: var(--theme-color-weak-text);
  --theme-btn-secondary--border-color: var(--theme-color-primary);
  --theme-btn-secondary--border-color--hover: var(--theme-color-dynamic);
  --theme-btn-secondary--border-color--active: var(--theme-color-dynamic);
  --theme-btn-secondary--border-color--pressed: var(--theme-color-dynamic);
  --theme-btn-secondary--border-color--pressed-hover: var(--theme-color-dynamic);
  --theme-btn-secondary--border-color--pressed-active: var(--theme-color-dynamic);
  --theme-btn-secondary--border-color--disabled: var(--theme-color-component-4);
  --theme-btn-tertiary--background: var(--theme-color-ghost);
  --theme-btn-tertiary--background--hover: var(--theme-color-ghost-primary--hover);
  --theme-btn-tertiary--background--active: var(--theme-color-ghost-primary--active);
  --theme-btn-tertiary--background--pressed: var(--theme-color-ghost--selected);
  --theme-btn-tertiary--background--pressed-hover: var(--theme-color-ghost--selected-hover);
  --theme-btn-tertiary--background--pressed-active: var(--theme-color-ghost--selected-active);
  --theme-btn-tertiary--background--disabled: var(--theme-color-ghost);
  --theme-btn-tertiary--color: var(--theme-color-primary);
  --theme-btn-tertiary--color--hover: var(--theme-color-dynamic);
  --theme-btn-tertiary--color--active: var(--theme-color-dynamic);
  --theme-btn-tertiary--color--pressed: var(--theme-color-dynamic);
  --theme-btn-tertiary--color--pressed-hover: var(--theme-color-dynamic);
  --theme-btn-tertiary--color--pressed-active: var(--theme-color-dynamic);
  --theme-btn-tertiary--color--disabled: var(--theme-color-weak-text);
  --theme-btn-tertiary--border-color: var(--theme-color-0);
  --theme-btn-tertiary--border-color--hover: var(--theme-color-0);
  --theme-btn-tertiary--border-color--active: var(--theme-color-0);
  --theme-btn-tertiary--border-color--disabled: var(--theme-color-0);
  --theme-btn-tertiary--border-color--pressed: var(--theme-color-0);
  --theme-btn-tertiary--border-color--pressed-hover: var(--theme-color-0);
  --theme-btn-tertiary--border-color--pressed-active: var(--theme-color-0);
  --theme-btn-danger-primary--background: var(--theme-color-alarm);
  --theme-btn-danger-primary--background--hover: var(--theme-color-alarm--hover);
  --theme-btn-danger-primary--background--active: var(--theme-color-alarm--active);
  --theme-btn-danger-primary--background--disabled: var(--theme-color-component-4);
  --theme-btn-danger-primary--color: var(--theme-color-alarm--contrast);
  --theme-btn-danger-primary--color--hover: var(--theme-color-alarm--contrast);
  --theme-btn-danger-primary--color--active: var(--theme-color-alarm--contrast);
  --theme-btn-danger-primary--color--disabled: var(--theme-color-primary--contrast);
  --theme-btn-danger-primary--border-color: var(--theme-color-0);
  --theme-btn-danger-primary--border-color--hover: var(--theme-color-0);
  --theme-btn-danger-primary--border-color--active: var(--theme-color-0);
  --theme-btn-danger-primary--border-color--disabled: var(--theme-color-0);
  --theme-btn-danger-secondary--background: var(--theme-color-1);
  --theme-btn-danger-secondary--background--hover: var(--theme-color-1--hover);
  --theme-btn-danger-secondary--background--active: var(--theme-color-1--active);
  --theme-btn-danger-secondary--background--disabled: var(--theme-color-ghost);
  --theme-btn-danger-secondary--color: var(--theme-color-alarm);
  --theme-btn-danger-secondary--color--hover: var(--theme-color-alarm--hover);
  --theme-btn-danger-secondary--color--active: var(--theme-color-alarm--active);
  --theme-btn-danger-secondary--color--disabled: var(--theme-color-weak-text);
  --theme-btn-danger-secondary--border-color: var(--theme-color-alarm);
  --theme-btn-danger-secondary--border-color--hover: var(--theme-color-alarm--hover);
  --theme-btn-danger-secondary--border-color--active: var(--theme-color-alarm--active);
  --theme-btn-danger-secondary--border-color--disabled: var(--theme-color-component-4);
  --theme-btn-danger-tertiary--background: var(--theme-color-ghost);
  --theme-btn-danger-tertiary--background--hover: var(--theme-color-ghost--hover);
  --theme-btn-danger-tertiary--background--active: var(--theme-color-ghost--active);
  --theme-btn-danger-tertiary--background--disabled: var(--theme-color-ghost);
  --theme-btn-danger-tertiary--color: var(--theme-color-alarm-text);
  --theme-btn-danger-tertiary--color--hover: var(--theme-color-alarm-text);
  --theme-btn-danger-tertiary--color--active: var(--theme-color-alarm-text);
  --theme-btn-danger-tertiary--color--disabled: var(--theme-color-weak-text);
  --theme-btn-danger-tertiary--border-color: var(--theme-color-0);
  --theme-btn-danger-tertiary--border-color--hover: var(--theme-color-0);
  --theme-btn-danger-tertiary--border-color--active: var(--theme-color-0);
  --theme-btn-danger-tertiary--border-color--disabled: var(--theme-color-0);
  --theme-btn--focus--outline-offset: var(--theme-focus-outline-offset);
  --theme-btn--border-radius: var(--theme-small-border-radius);
  --theme-btn--border-thickness: var(--theme-border-width-default);
  --theme-btn-subtle-primary--background: var(--theme-color-component-1);
  --theme-btn-subtle-primary--background--hover: var(--theme-color-component-1--hover);
  --theme-btn-subtle-primary--background--active: var(--theme-color-component-1--active);
  --theme-btn-subtle-primary--background--pressed: var(--theme-color-ghost--selected);
  --theme-btn-subtle-primary--background--pressed-hover: var(--theme-color-ghost--selected-hover);
  --theme-btn-subtle-primary--background--pressed-active: var(--theme-color-ghost--selected-active);
  --theme-btn-subtle-primary--background--disabled: var(--theme-color-component-1);
  --theme-btn-subtle-primary--color: var(--theme-color-std-text);
  --theme-btn-subtle-primary--color--hover: var(--theme-color-std-text);
  --theme-btn-subtle-primary--color--active: var(--theme-color-std-text);
  --theme-btn-subtle-primary--color--pressed: var(--theme-color-dynamic);
  --theme-btn-subtle-primary--color--pressed-hover: var(--theme-color-dynamic);
  --theme-btn-subtle-primary--color--pressed-active: var(--theme-color-dynamic);
  --theme-btn-subtle-primary--color--disabled: var(--theme-color-weak-text);
  --theme-btn-subtle-primary--border-color: var(--theme-color-0);
  --theme-btn-subtle-primary--border-color--hover: var(--theme-color-0);
  --theme-btn-subtle-primary--border-color--active: var(--theme-color-0);
  --theme-btn-subtle-primary--border-color--pressed: var(--theme-color-0);
  --theme-btn-subtle-primary--border-color--pressed-hover: var(--theme-color-0);
  --theme-btn-subtle-primary--border-color--pressed-active: var(--theme-color-0);
  --theme-btn-subtle-primary--border-color--disabled: var(--theme-color-0);
  --theme-btn-subtle-secondary--background: var(--theme-color-ghost);
  --theme-btn-subtle-secondary--background--hover: var(--theme-color-ghost--hover);
  --theme-btn-subtle-secondary--background--active: var(--theme-color-ghost--active);
  --theme-btn-subtle-secondary--background--pressed: var(--theme-color-ghost--selected);
  --theme-btn-subtle-secondary--background--pressed-hover: var(--theme-color-ghost--selected-hover);
  --theme-btn-subtle-secondary--background--pressed-active: var(--theme-color-ghost--selected-active);
  --theme-btn-subtle-secondary--background--disabled: var(--theme-color-ghost);
  --theme-btn-subtle-secondary--color: var(--theme-color-std-text);
  --theme-btn-subtle-secondary--color--hover: var(--theme-color-std-text);
  --theme-btn-subtle-secondary--color--active: var(--theme-color-std-text);
  --theme-btn-subtle-secondary--color--pressed: var(--theme-color-dynamic);
  --theme-btn-subtle-secondary--color--pressed-hover: var(--theme-color-dynamic);
  --theme-btn-subtle-secondary--color--pressed-active: var(--theme-color-dynamic);
  --theme-btn-subtle-secondary--color--disabled: var(--theme-color-weak-text);
  --theme-btn-subtle-secondary--border-color: var(--theme-color-component-4);
  --theme-btn-subtle-secondary--border-color--hover: var(--theme-color-component-4);
  --theme-btn-subtle-secondary--border-color--active: var(--theme-color-component-4);
  --theme-btn-subtle-secondary--border-color--pressed: var(--theme-color-std-bdr);
  --theme-btn-subtle-secondary--border-color--pressed-hover: var(--theme-color-std-bdr);
  --theme-btn-subtle-secondary--border-color--pressed-active: var(--theme-color-std-bdr);
  --theme-btn-subtle-secondary--border-color--disabled: var(--theme-color-component-4);
  --theme-btn-subtle-tertiary--background: var(--theme-color-ghost);
  --theme-btn-subtle-tertiary--background--hover: var(--theme-color-ghost--hover);
  --theme-btn-subtle-tertiary--background--active: var(--theme-color-ghost--active);
  --theme-btn-subtle-tertiary--background--disabled: var(--theme-color-ghost);
  --theme-btn-subtle-tertiary--background--pressed: var(--theme-color-component-7);
  --theme-btn-subtle-tertiary--background--pressed-hover: var(--theme-color-component-7--hover);
  --theme-btn-subtle-tertiary--background--pressed-active: var(--theme-color-component-7--active);
  --theme-btn-subtle-tertiary--color: var(--theme-color-std-text);
  --theme-btn-subtle-tertiary--color--hover: var(--theme-color-std-text);
  --theme-btn-subtle-tertiary--color--active: var(--theme-color-std-text);
  --theme-btn-subtle-tertiary--color--pressed: var(--theme-color-dynamic);
  --theme-btn-subtle-tertiary--color--pressed-hover: var(--theme-color-dynamic);
  --theme-btn-subtle-tertiary--color--pressed-active: var(--theme-color-dynamic);
  --theme-btn-subtle-tertiary--color--disabled: var(--theme-color-weak-text);
  --theme-btn-subtle-tertiary--border-color: var(--theme-color-0);
  --theme-btn-subtle-tertiary--border-color--hover: var(--theme-color-0);
  --theme-btn-subtle-tertiary--border-color--active: var(--theme-color-0);
  --theme-btn-subtle-tertiary--border-color--disabled: var(--theme-color-0);
  --theme-btn-subtle-tertiary--border-color--pressed: var(--theme-color-0);
  --theme-btn-subtle-tertiary--border-color--pressed-hover: var(--theme-color-0);
  --theme-btn-subtle-tertiary--border-color--pressed-active: var(--theme-color-0);
}