@mixin setVars {
  --theme-checkbox-mixed--background: var(--theme-color-dynamic);
  --theme-checkbox-mixed--background--hover: var(--theme-color-dynamic--hover);
  --theme-checkbox-mixed--background--active: var(--theme-color-dynamic--active);
  --theme-checkbox-mixed--background--disabled: var(--theme-color-component-4);
  --theme-checkbox-mixed--background--invalid: var(--theme-color-alarm);
  --theme-checkbox-mixed--background--invalid--hover: var(--theme-color-alarm--hover);
  --theme-checkbox-mixed--background--invalid--active: var(--theme-color-alarm--active);
  --theme-checkbox-mixed--background--warning: var(--theme-color-warning);
  --theme-checkbox-mixed--background--warning--hover: var(--theme-color-warning--hover);
  --theme-checkbox-mixed--background--warning--active: var(--theme-color-warning--active);
  --theme-checkbox-mixed--border-color: var(--theme-color-0);
  --theme-checkbox-mixed--border-color--hover: var(--theme-color-0);
  --theme-checkbox-mixed--border-color--active: var(--theme-color-0);
  --theme-checkbox-mixed--border-color--disabled: var(--theme-color-0);
  --theme-checkbox-mixed--border-color--invalid: var(--theme-color-0);
  --theme-checkbox-mixed--border-color--invalid--hover: var(--theme-color-0);
  --theme-checkbox-mixed--border-color--invalid--active: var(--theme-color-0);
  --theme-checkbox-mixed--border-color--warning: var(--theme-color-0);
  --theme-checkbox-mixed--border-color--warning--hover: var(--theme-color-0);
  --theme-checkbox-mixed--border-color--warning--active: var(--theme-color-0);
  --theme-checkbox-mixed--border-color--info: var(--theme-color-0);
  --theme-checkbox-mixed--border-color--info--hover: var(--theme-color-0);
  --theme-checkbox-mixed--border-color--info--active: var(--theme-color-0);
  --theme-checkbox-mixed--color: var(--theme-color-primary--contrast);
  --theme-checkbox-mixed--color--hover: var(--theme-color-primary--contrast);
  --theme-checkbox-mixed--color--active: var(--theme-color-primary--contrast);
  --theme-checkbox-mixed--color--disabled: var(--theme-color-primary--contrast);
  --theme-checkbox-mixed--color--invalid: var(--theme-color-alarm--contrast);
  --theme-checkbox-mixed--color--invalid--hover: var(--theme-color-alarm--contrast);
  --theme-checkbox-mixed--color--invalid--active: var(--theme-color-alarm--contrast);
  --theme-checkbox-mixed--color--warning: var(--theme-color-warning--contrast);
  --theme-checkbox-mixed--color--warning--hover: var(--theme-color-warning--contrast);
  --theme-checkbox-mixed--color--warning--active: var(--theme-color-warning--contrast);
  --theme-checkbox-mixed--color--info: var(--theme-color-info--contrast);
  --theme-checkbox-mixed--color--info--hover: var(--theme-color-info--contrast);
  --theme-checkbox-mixed--color--info--active: var(--theme-color-info--contrast);
}