@mixin setVars {
  --theme-checkbox-checked--background: var(--theme-color-dynamic);
  --theme-checkbox-checked--background--hover: var(--theme-color-dynamic--hover);
  --theme-checkbox-checked--background--active: var(--theme-color-dynamic--active);
  --theme-checkbox-checked--background--disabled: var(--theme-color-component-4);
  --theme-checkbox-checked--background--invalid: var(--theme-color-alarm);
  --theme-checkbox-checked--background--invalid--hover: var(--theme-color-alarm--hover);
  --theme-checkbox-checked--background--invalid--active: var(--theme-color-alarm--active);
  --theme-checkbox-checked--background--warning: var(--theme-color-warning);
  --theme-checkbox-checked--background--warning--hover: var(--theme-color-warning--hover);
  --theme-checkbox-checked--background--warning--active: var(--theme-color-warning--active);
  --theme-checkbox-checked--background--info: var(--theme-color-info);
  --theme-checkbox-checked--background--info--hover: var(--theme-color-info--hover);
  --theme-checkbox-checked--background--info--active: var(--theme-color-info--active);
  --theme-checkbox-checked--border-color: var(--theme-color-0);
  --theme-checkbox-checked--border-color--hover: var(--theme-color-0);
  --theme-checkbox-checked--border-color--active: var(--theme-color-0);
  --theme-checkbox-checked--border-color--disabled: var(--theme-color-0);
  --theme-checkbox-checked--border-color--invalid: var(--theme-color-0);
  --theme-checkbox-checked--border-color--invalid--hover: var(--theme-color-0);
  --theme-checkbox-checked--border-color--invalid--active: var(--theme-color-0);
  --theme-checkbox-checked--border-color--warning: var(--theme-color-0);
  --theme-checkbox-checked--border-color--warning--hover: var(--theme-color-0);
  --theme-checkbox-checked--border-color--warning--active: var(--theme-color-0);
  --theme-checkbox-checked--border-color--info: var(--theme-color-0);
  --theme-checkbox-checked--border-color--info--hover: var(--theme-color-0);
  --theme-checkbox-checked--border-color--info--active: var(--theme-color-0);
  --theme-checkbox-checked--color: var(--theme-color-primary--contrast);
  --theme-checkbox-checked--color--hover: var(--theme-color-primary--contrast);
  --theme-checkbox-checked--color--active: var(--theme-color-primary--contrast);
  --theme-checkbox-checked--color--disabled: var(--theme-color-primary--contrast);
  --theme-checkbox-checked--color--invalid: var(--theme-color-alarm--contrast);
  --theme-checkbox-checked--color--invalid--hover: var(--theme-color-alarm--contrast);
  --theme-checkbox-checked--color--invalid--active: var(--theme-color-alarm--contrast);
  --theme-checkbox-checked--color--warning: var(--theme-color-warning--contrast);
  --theme-checkbox-checked--color--warning--hover: var(--theme-color-warning--contrast);
  --theme-checkbox-checked--color--warning--active: var(--theme-color-warning--contrast);
  --theme-checkbox-checked--color--info: var(--theme-color-info--contrast);
  --theme-checkbox-checked--color--info--hover: var(--theme-color-info--contrast);
  --theme-checkbox-checked--color--info--active: var(--theme-color-info--contrast);
}