@mixin setVars {
  --theme-chip-close-btn--color: var(--theme-color-soft-text);
  --theme-chip-outline--color: var(--theme-color-std-text);
  --theme-chip-outline--background: var(--theme-color-1);
  --theme-chip-outline--background--hover: var(--theme-color-1--hover);
  --theme-chip-outline--background--active: var(--theme-color-1--active);
  --theme-chip--color: var(--theme-color-std-text);
  --theme-chip-close-btn--background: var(--theme-color-ghost);
  --theme-chip-primary-outline--background: var(--theme-color-secondary);
  --theme-chip-primary-outline--background--hover: var(--theme-color-secondary--hover);
  --theme-chip-primary-outline--background--active: var(--theme-color-secondary--active);
  --theme-chip-primary-outline--border-color: var(--theme-color-primary);
  --theme-chip-primary-outline--border-color--hover: var(--theme-color-dynamic);
  --theme-chip-primary-outline--border-color--active: var(--theme-color-dynamic);
  --theme-chip-primary-outline--color: var(--theme-color-primary);
  --theme-chip-primary-outline--color--hover: var(--theme-color-dynamic);
  --theme-chip-primary-outline--color--active: var(--theme-color-dynamic);
  --theme-chip-primary--background: var(--theme-color-primary);
  --theme-chip-primary--background--hover: var(--theme-color-primary--hover);
  --theme-chip-primary--background--active: var(--theme-color-primary--active);
  --theme-chip-primary--color: var(--theme-color-primary--contrast);
  --theme-chip-primary--color--hover: var(--theme-color-primary--contrast);
  --theme-chip-primary--color--active: var(--theme-color-primary--contrast);
  --theme-chip-primary-outline--background--display: var(--theme-color-secondary);
  --theme-chip-primary-outline--border-color--display: var(--theme-color-primary);
  --theme-chip-primary-outline--color--display: var(--theme-color-std-text);
  --theme-chip-close-btn--background--hover: var(--theme-color-ghost--hover);
  --theme-chip-close-btn--background--active: var(--theme-color-ghost--active);
  --theme-chip--background: var(--theme-color-component-1);
  --theme-chip--background--hover: var(--theme-color-component-1--hover);
  --theme-chip--background--active: var(--theme-color-component-1--active);
}