@mixin setVars {
  --theme-datepicker-today--background: var(--theme-color-ghost);
  --theme-datepicker-today--background--hover: var(--theme-color-ghost--hover);
  --theme-datepicker-today--background--active: var(--theme-color-ghost--active);
  --theme-datepicker-today--background--disabled: var(--theme-color-ghost);
  --theme-datepicker-today--border-color: var(--theme-color-primary);
  --theme-datepicker-today--border-color--hover: var(--theme-color-primary);
  --theme-datepicker-today--border-color--active: var(--theme-color-primary);
  --theme-datepicker-today--border-color--disabled: var(--theme-color-primary--disabled);
  --theme-datepicker-today--color: var(--theme-color-primary);
  --theme-datepicker-today--color--hover: var(--theme-color-primary);
  --theme-datepicker-today--color--active: var(--theme-color-primary);
  --theme-datepicker-today--color--disabled: var(--theme-color-weak-text);
  --theme-datepicker-today--background--selected: var(--theme-color-component-9);
  --theme-datepicker-today--background--selected-hover: var(--theme-color-component-9--hover);
  --theme-datepicker-today--background--selected-active: var(--theme-color-component-9--active);
  --theme-datepicker-today--background--selected-disabled: var(--theme-color-component-9--disabled);
  --theme-datepicker-today--border-color--selected: var(--theme-color-primary);
  --theme-datepicker-today--border-color--selected-hover: var(--theme-color-primary);
  --theme-datepicker-today--border-color--selected-active: var(--theme-color-primary);
  --theme-datepicker-today--border-color--selected-disabled: var(--theme-color-primary--disabled);
  --theme-datepicker-today--color--selected: var(--theme-color-primary--contrast);
  --theme-datepicker-today--color--selected-hover: var(--theme-color-primary--contrast);
  --theme-datepicker-today--color--selected-active: var(--theme-color-primary--contrast);
  --theme-datepicker-today--color--selected-disabled: var(--theme-color-weak-text);
  --theme-datepicker-today--background--range: var(--theme-color-component-10);
  --theme-datepicker-today--background--range-hover: var(--theme-color-component-10--hover);
  --theme-datepicker-today--background--range-active: var(--theme-color-component-10--active);
  --theme-datepicker-today--background--range-disabled: var(--theme-color-component-10--disabled);
  --theme-datepicker-today--border-color--range: var(--theme-color-primary);
  --theme-datepicker-today--border-color--range-hover: var(--theme-color-primary);
  --theme-datepicker-today--border-color--range-active: var(--theme-color-primary);
  --theme-datepicker-today--border-color--range-disabled: var(--theme-color-primary--disabled);
  --theme-datepicker-today--color--range: var(--theme-color-primary--contrast);
  --theme-datepicker-today--color--range-hover: var(--theme-color-primary--contrast);
  --theme-datepicker-today--color--range-active: var(--theme-color-primary--contrast);
  --theme-datepicker-today--color--range-disabled: var(--theme-color-weak-text);
}