@mixin setVars {
  --theme-flip-primary--border-color: var(--theme-color-primary);
  --theme-flip-primary--color: var(--theme-color-std-text);
  --theme-flip-primary-footer--background: var(--theme-color-primary);
  --theme-flip-primary-footer--border-color: var(--theme-color-0);
  --theme-flip-primary-footer--color: var(--theme-color-primary--contrast);
  --theme-flip-filled--border-color: var(--theme-color-0);
  --theme-flip-filled--color: var(--theme-color-std-text);
  --theme-flip-filled-footer--border-color: var(--theme-color-1);
  --theme-flip-filled-footer--color: var(--theme-color-std-text);
  --theme-flip-outline--background: var(--theme-color-0);
  --theme-flip-outline--border-color: var(--theme-color-soft-bdr);
  --theme-flip-outline--color: var(--theme-color-std-text);
  --theme-flip-outline-footer--border-color: var(--theme-color-soft-bdr);
  --theme-flip-outline-footer--background: var(--theme-color-0);
  --theme-flip-outline-footer--color: var(--theme-color-std-text);
  --theme-flip--border-radius: var(--theme-default-border-radius);
  --theme-flip-alarm--border-color: var(--theme-color-alarm);
  --theme-flip-alarm--color: var(--theme-color-std-text);
  --theme-flip-alarm-footer--background: var(--theme-color-alarm);
  --theme-flip-alarm-footer--border-color: var(--theme-color-0);
  --theme-flip-alarm-footer--color: var(--theme-color-alarm--contrast);
  --theme-flip-warning--border-color: var(--theme-color-warning);
  --theme-flip-warning--color: var(--theme-color-std-text);
  --theme-flip-warning-footer--background: var(--theme-color-warning);
  --theme-flip-warning-footer--border-color: var(--theme-color-0);
  --theme-flip-warning-footer--color: var(--theme-color-warning--contrast);
  --theme-flip-info--border-color: var(--theme-color-info);
  --theme-flip-info--color: var(--theme-color-std-text);
  --theme-flip-info-footer--background: var(--theme-color-info);
  --theme-flip-info-footer--border-color: var(--theme-color-0);
  --theme-flip-info-footer--color: var(--theme-color-info--contrast);
  --theme-flip-primary--background: var(--theme-color-component-1);
  --theme-flip-filled--background: var(--theme-color-component-1);
  --theme-flip-filled-footer--background: var(--theme-color-component-1);
  --theme-flip-alarm--background: var(--theme-color-component-1);
  --theme-flip-warning--background: var(--theme-color-component-1);
  --theme-flip-info--background: var(--theme-color-component-1);
}
