@mixin setVars {
  --theme-ghost--background: var(--theme-color-ghost);
  --theme-ghost--background--hover: var(--theme-color-ghost--hover);
  --theme-ghost--background--active: var(--theme-color-ghost--active);
}