@mixin setVars {
  --theme-input--background: var(--theme-color-component-8);
  --theme-input--background--hover: var(--theme-color-component-8--hover);
  --theme-input--background--focus: var(--theme-color-component-8--hover);
  --theme-input--background--readonly: var(--theme-color-0);
  --theme-input--background--autofill: var(--theme-color-component-info);
  --theme-input--background--disabled: var(--theme-color-0);
  --theme-input--background--invalid: var(--theme-color-component-error);
  --theme-input--background--invalid--hover: var(--theme-color-component-error);
  --theme-input--background--invalid--focus: var(--theme-color-component-error);
  --theme-input--border-color: var(--theme-color-std-bdr);
  --theme-input--border-color--hover: var(--theme-color-dynamic);
  --theme-input--border-color--focus: var(--theme-color-dynamic);
  --theme-input--border-color--autofill: var(--theme-color-hard-bdr);
  --theme-input--border-color--readonly: var(--theme-color-0);
  --theme-input--border-color--disabled: var(--theme-color-0);
  --theme-input--border-color-bottom--readonly: var(--theme-color-soft-bdr);
  --theme-input--border-color-bottom--disabled: var(--theme-color-weak-bdr);
  --theme-input--border-color--invalid: var(--theme-color-alarm);
  --theme-input--border-color--invalid--hover: var(--theme-color-alarm);
  --theme-input--border-color--invalid--active: var(--theme-color-alarm);
  --theme-input--border-color--warning: var(--theme-color-warning);
  --theme-input--border-color--warning--hover: var(--theme-color-warning);
  --theme-input--border-color--warning--active: var(--theme-color-warning);
  --theme-input--border-color--info: var(--theme-color-info);
  --theme-input--border-color--info--hover: var(--theme-color-info);
  --theme-input--border-color--info--active: var(--theme-color-info);
  --theme-input--color: var(--theme-color-std-text);
  --theme-input--color--disabled: var(--theme-color-weak-text);
  --theme-input--color--autofill: var(--theme-color-std-text);
  --theme-input--focus--outline-offset: var(--theme-focus-outline-offset);
  --theme-input--border-thickness: var(--theme-border-width-default);
  --theme-input--border-radius: var(--theme-small-border-radius);
  --theme-input--box-shadow: var(--theme-inset-shadow-1);
}