@mixin setVars {
  --theme-kpi-display--background: var(--theme-color-ghost);
  --theme-kpi-display--background--hover: var(--theme-color-ghost--hover);
  --theme-kpi-display--background--active: var(--theme-color-ghost--active);
  --theme-kpi-display-indicator--background: var(--theme-color-component-4);
  --theme-kpi-display-label--color: var(--theme-color-soft-text);
  --theme-kpi-display-icon--color: var(--theme-color-std-text);
  --theme-kpi-display-value: var(--theme-color-std-text);
  --theme-kpi-display-units: var(--theme-color-soft-text);
  --theme-kpi--border-radius: var(--theme-default-border-radius);
}