@mixin setVars {
  --theme-map-navigation-logo--color: var(--theme-color-logo);
  --theme-map-navigation-header--color: var(--theme-color-std-text);
  --theme-map-navigation-separator--background: var(--theme-color-soft-bdr);
  --theme-map-navigation--background: var(--theme-color-1);
}