@mixin setVars {
  --theme-menu-btn--color: var(--theme-color-std-text);
  --theme-menu-btn--color--hover: var(--theme-color-std-text);
  --theme-menu-btn--color--active: var(--theme-color-std-text);
  --theme-menu-btn--background: var(--theme-color-ghost);
  --theme-menu--background: var(--theme-color-2);
  --theme-menu--border-color: var(--theme-color-0);
  --theme-menu-header--color: var(--theme-color-soft-text);
  --theme-menu-separator--background: var(--theme-color-x-weak-bdr);
  --theme-menu-item--background: var(--theme-color-ghost);
  --theme-menu-item--background--disabled: var(--theme-color-ghost);
  --theme-menu-item--color: var(--theme-color-std-text);
  --theme-menu-item--color--hover: var(--theme-color-std-text);
  --theme-menu-item--color--active: var(--theme-color-std-text);
  --theme-menu-item--color--disabled: var(--theme-color-weak-text);
  --theme-menu-item-icon--color: var(--theme-color-soft-text);
  --theme-menu-item-icon--color--hover: var(--theme-color-std-text);
  --theme-menu-item-icon--color--active: var(--theme-color-std-text);
  --theme-menu-item-icon--color--disabled: var(--theme-color-weak-text);
  --theme-menu-item-arrow--color: var(--theme-color-soft-text);
  --theme-menu-item-arrow--color--hover: var(--theme-color-std-text);
  --theme-menu-item-arrow--color--active: var(--theme-color-std-text);
  --theme-menu-item-arrow--color--disabled: var(--theme-color-weak-text);
  --theme-menu-item-check--color: var(--theme-color-soft-text);
  --theme-menu-item-check--color--hover: var(--theme-color-std-text);
  --theme-menu-item-check--color--active: var(--theme-color-std-text);
  --theme-menu-item-check--color--disabled: var(--theme-color-weak-text);
  --theme-menu--border-thickness: var(--theme-border-width-none);
  --theme-menu--border-radius: var(--theme-default-border-radius);
  --theme-menu-btn--background--hover: var(--theme-color-ghost--hover);
  --theme-menu-btn--background--active: var(--theme-color-ghost--active);
  --theme-menu-item--background--hover: var(--theme-color-ghost--hover);
  --theme-menu-item--background--active: var(--theme-color-ghost--active);
  --theme-menu--box-shadow: var(--theme-shadow-4);
}