@mixin setVars {
  --theme-nav--background: var(--theme-color-2);
  --theme-nav-item-primary--background: var(--theme-color-ghost);
  --theme-nav-item-primary--background--selected: var(--theme-color-1);
  --theme-nav-item-primary--border-color: var(--theme-color-0);
  --theme-nav-item-primary--border-color--hover: var(--theme-color-0);
  --theme-nav-item-primary--border-color--active: var(--theme-color-0);
  --theme-nav-item-primary--border-color--selected: var(--theme-color-dynamic);
  --theme-nav-item-primary--color: var(--theme-color-std-text);
  --theme-nav-item-primary--color--hover: var(--theme-color-std-text);
  --theme-nav-item-primary--color--active: var(--theme-color-std-text);
  --theme-nav-item-primary--color--selected: var(--theme-color-std-text);
  --theme-nav-item-primary-icon--color: var(--theme-color-std-text);
  --theme-nav-item-primary-icon--color--hover: var(--theme-color-std-text);
  --theme-nav-item-primary-icon--color--active: var(--theme-color-std-text);
  --theme-nav-item-primary-icon--color--selected: var(--theme-color-std-text);
  --theme-nav-item-secondary--background: var(--theme-color-ghost);
  --theme-nav-item-secondary--background--disabled: var(--theme-color-0);
  --theme-nav-item-secondary--background--selected: var(--theme-color-1);
  --theme-nav-item-secondary--border-color: var(--theme-color-0);
  --theme-nav-item-secondary--border-color--hover: var(--theme-color-0);
  --theme-nav-item-secondary--border-color--active: var(--theme-color-0);
  --theme-nav-item-secondary--border-color--disabled: var(--theme-color-0);
  --theme-nav-item-secondary--border-color--selected: var(--theme-color-dynamic);
  --theme-nav-item-secondary--color: var(--theme-color-std-text);
  --theme-nav-item-secondary--color--hover: var(--theme-color-std-text);
  --theme-nav-item-secondary--color--active: var(--theme-color-std-text);
  --theme-nav-item-secondary--color--disabled: var(--theme-color-weak-text);
  --theme-nav-item-secondary--color--selected: var(--theme-color-std-text);
  --theme-nav-item-secondary-icon--color: var(--theme-color-std-text);
  --theme-nav-item-secondary-icon--color--hover: var(--theme-color-std-text);
  --theme-nav-item-secondary-icon--color--active: var(--theme-color-std-text);
  --theme-nav-item-secondary-icon--color--selected: var(--theme-color-std-text);
  --theme-nav-item-secondary-icon--color--disabled: var(--theme-color-weak-text);
  --theme-nav-overlay--background: var(--theme-color-backdrop-3);
  --theme-nav-overlay-header--color: var(--theme-color-std-text);
  --theme-nav-item-primary--background--hover: var(--theme-color-ghost--hover);
  --theme-nav-item-primary--background--active: var(--theme-color-ghost--active);
  --theme-nav-item-secondary--background--hover: var(--theme-color-ghost--hover);
  --theme-nav-item-secondary--background--active: var(--theme-color-ghost--active);
  --theme-navigation--box-shadow: var(--theme-shadow-2);
}