@mixin setVars {
  --theme-progress-indicator-track--background: var(--theme-color-component-3);
  --theme-progress-indicator-fill--background: var(--theme-color-dynamic);
  --theme-progress-indicator-label--color: var(--theme-color-soft-text);
  --theme-progress-indicator-helper--color: var(--theme-color-soft-text);
  --theme-progress-indicator-helper-icon--color: var(--theme-color-soft-text);
  --theme-progress-indicator-track-error--background: var(
    --theme-color-component-3
  );
  --theme-progress-indicator-fill-error--background: var(--theme-color-alarm);
  --theme-progress-indicator-label-error--color: var(--theme-color-alarm-text);
  --theme-progress-indicator-helper-error--color: var(--theme-color-alarm-text);
  --theme-progress-indicator-helper-icon-error--color: var(--theme-color-alarm);
  --theme-progress-indicator-track-warning--background: var(
    --theme-color-component-3
  );
  --theme-progress-indicator-fill-warning--background: var(
    --theme-color-warning
  );
  --theme-progress-indicator-label-warning--color: var(--theme-color-soft-text);
  --theme-progress-indicator-helper-warning--color: var(--theme-color-std-text);
  --theme-progress-indicator-helper-icon-warning--color: var(
    --theme-color-warning
  );
  --theme-progress-indicator-track-success--background: var(
    --theme-color-component-3
  );
  --theme-progress-indicator-fill-success--background: var(
    --theme-color-success
  );
  --theme-progress-indicator-label-success--color: var(--theme-color-soft-text);
  --theme-progress-indicator-helper-success--color: var(--theme-color-std-text);
  --theme-progress-indicator-helper-icon-success--color: var(
    --theme-color-success
  );
  --theme-progress-indicator-track-info--background: var(
    --theme-color-component-3
  );
  --theme-progress-indicator-fill-info--background: var(--theme-color-info);
  --theme-progress-indicator-label-info--color: var(--theme-color-soft-text);
  --theme-progress-indicator-helper-info--color: var(--theme-color-std-text);
  --theme-progress-indicator-helper-icon-info--color: var(--theme-color-info);
  --theme-progress-indicator-track-paused--background: var(
    --theme-color-component-3
  );
  --theme-progress-indicator-fill-paused--background: var(
    --theme-color-neutral
  );
  --theme-progress-indicator-label-paused--color: var(--theme-color-soft-text);
  --theme-progress-indicator-helper-paused--color: var(--theme-color-std-text);
  --theme-progress-indicator-helper-icon-paused--color: var(
    --theme-color-neutral
  );
}
