@mixin setVars {
  --theme-push-card-primary--background: var(--theme-color-primary);
  --theme-push-card-primary--background--hover: var(--theme-color-primary--hover);
  --theme-push-card-primary--background--active: var(--theme-color-primary--active);
  --theme-push-card-primary--border-color: var(--theme-color-0);
  --theme-push-card-primary--border-color--hover: var(--theme-color-0);
  --theme-push-card-primary--border-color--active: var(--theme-color-0);
  --theme-push-card-primary--color: var(--theme-color-primary--contrast);
  --theme-push-card-primary-subtext--color: var(--theme-color-primary--contrast);
  --theme-push-card-primary-accordion--border-color: var(--theme-color-1);
  --theme-push-card-primary-accordion--color: var(--theme-color-primary--contrast);
  --theme-push-card-primary-accordion--background: var(--theme-color-primary);
  --theme-push-card-primary-accordion--background--hover: var(--theme-color-primary--hover);
  --theme-push-card-primary-accordion--background--active: var(--theme-color-primary--active);
  --theme-push-card-primary-accordion-frame--border-color: var(--theme-color-soft-bdr);
  --theme-push-card-primary-accordion-frame--border-width: var(--theme-border-width-default);
  --theme-push-card-filled--border-color: var(--theme-color-0);
  --theme-push-card-filled--border-color--hover: var(--theme-color-0);
  --theme-push-card-filled--border-color--active: var(--theme-color-0);
  --theme-push-card-filled--color: var(--theme-color-std-text);
  --theme-push-card-filled-subtext--color: var(--theme-color-soft-text);
  --theme-push-card-filled-accordion--border-color: var(--theme-color-1);
  --theme-push-card-filled-accordion--color: var(--theme-color-std-text);
  --theme-push-card-filled-accordion-frame--border-color: var(--theme-color-0);
  --theme-push-card-filled-accordion-frame--border-width: var(--theme-border-width-default);
  --theme-push-card-outline--background: var(--theme-color-ghost);
  --theme-push-card-outline--border-color: var(--theme-color-soft-bdr);
  --theme-push-card-outline--border-color--hover: var(--theme-color-soft-bdr);
  --theme-push-card-outline--border-color--active: var(--theme-color-soft-bdr);
  --theme-push-card-outline--color: var(--theme-color-std-text);
  --theme-push-card-outline-subtext--color: var(--theme-color-soft-text);
  --theme-push-card-outline-accordion--border-color: var(--theme-color-1);
  --theme-push-card-outline-accordion--color: var(--theme-color-std-text);
  --theme-push-card-outline-accordion-frame--border-color: var(--theme-color-0);
  --theme-push-card-outline-accordion-frame--border-width: var(--theme-border-width-none);
  --theme-push-card-alarm--background: var(--theme-color-alarm);
  --theme-push-card-alarm--background--hover: var(--theme-color-alarm--hover);
  --theme-push-card-alarm--background--active: var(--theme-color-alarm--active);
  --theme-push-card-alarm--border-color: var(--theme-color-0);
  --theme-push-card-alarm--border-color--hover: var(--theme-color-0);
  --theme-push-card-alarm--border-color--active: var(--theme-color-0);
  --theme-push-card-alarm--color: var(--theme-color-alarm--contrast);
  --theme-push-card-alarm-subtext--color: var(--theme-color-alarm--contrast);
  --theme-push-card-alarm-accordion--border-color: var(--theme-color-1);
  --theme-push-card-alarm-accordion--color: var(--theme-color-alarm--contrast);
  --theme-push-card-alarm-accordion--background: var(--theme-color-alarm);
  --theme-push-card-alarm-accordion--background--hover: var(--theme-color-alarm--hover);
  --theme-push-card-alarm-accordion--background--active: var(--theme-color-alarm--active);
  --theme-push-card-alarm-accordion-frame--border-color: var(--theme-color-soft-bdr);
  --theme-push-card-alarm-accordion-frame--border-width: var(--theme-border-width-default);
  --theme-push-card-warning--background: var(--theme-color-warning);
  --theme-push-card-warning--background--hover: var(--theme-color-warning--hover);
  --theme-push-card-warning--background--active: var(--theme-color-warning--active);
  --theme-push-card-warning--border-color: var(--theme-color-0);
  --theme-push-card-warning--border-color--hover: var(--theme-color-0);
  --theme-push-card-warning--border-color--active: var(--theme-color-0);
  --theme-push-card-warning--color: var(--theme-color-warning--contrast);
  --theme-push-card-warning-subtext--color: var(--theme-color-warning--contrast);
  --theme-push-card-warning-accordion--border-color: var(--theme-color-1);
  --theme-push-card-warning-accordion--color: var(--theme-color-warning--contrast);
  --theme-push-card-warning-accordion--background: var(--theme-color-warning);
  --theme-push-card-warning-accordion--background--hover: var(--theme-color-warning--hover);
  --theme-push-card-warning-accordion--background--active: var(--theme-color-warning--active);
  --theme-push-card-warning-accordion-frame--border-color: var(--theme-color-soft-bdr);
  --theme-push-card-warning-accordion-frame--border-width: var(--theme-border-width-default);
  --theme-push-card-info--background: var(--theme-color-info);
  --theme-push-card-info--background--hover: var(--theme-color-info--hover);
  --theme-push-card-info--background--active: var(--theme-color-info--active);
  --theme-push-card-info--border-color: var(--theme-color-0);
  --theme-push-card-info--border-color--hover: var(--theme-color-0);
  --theme-push-card-info--border-color--active: var(--theme-color-0);
  --theme-push-card-info--color: var(--theme-color-info--contrast);
  --theme-push-card-info-subtext--color: var(--theme-color-info--contrast);
  --theme-push-card-info-accordion--border-color: var(--theme-color-1);
  --theme-push-card-info-accordion--color: var(--theme-color-info--contrast);
  --theme-push-card-info-accordion--background: var(--theme-color-info);
  --theme-push-card-info-accordion--background--hover: var(--theme-color-info--hover);
  --theme-push-card-info-accordion--background--active: var(--theme-color-info--active);
  --theme-push-card-info-accordion-frame--border-color: var(--theme-color-soft-bdr);
  --theme-push-card-info-accordion-frame--border-width: var(--theme-border-width-default);
  --theme-push-card-critical--background: var(--theme-color-critical);
  --theme-push-card-critical--background--hover: var(--theme-color-critical--hover);
  --theme-push-card-critical--background--active: var(--theme-color-critical--active);
  --theme-push-card-critical--border-color: var(--theme-color-0);
  --theme-push-card-critical--border-color--hover: var(--theme-color-0);
  --theme-push-card-critical--border-color--active: var(--theme-color-0);
  --theme-push-card-critical--color: var(--theme-color-critical--contrast);
  --theme-push-card-critical-subtext--color: var(--theme-color-critical--contrast);
  --theme-push-card-critical-accordion--border-color: var(--theme-color-1);
  --theme-push-card-critical-accordion--color: var(--theme-color-critical--contrast);
  --theme-push-card-critical-accordion--background: var(--theme-color-critical);
  --theme-push-card-critical-accordion--background--hover: var(--theme-color-critical--hover);
  --theme-push-card-critical-accordion--background--active: var(--theme-color-critical--active);
  --theme-push-card-critical-accordion-frame--border-color: var(--theme-color-soft-bdr);
  --theme-push-card-critical-accordion-frame--border-width: var(--theme-border-width-default);
  --theme-push-card-success--background: var(--theme-color-success);
  --theme-push-card-success--background--hover: var(--theme-color-success--hover);
  --theme-push-card-success--background--active: var(--theme-color-success--active);
  --theme-push-card-success--border-color: var(--theme-color-0);
  --theme-push-card-success--border-color--hover: var(--theme-color-0);
  --theme-push-card-success--border-color--active: var(--theme-color-0);
  --theme-push-card-success--color: var(--theme-color-success--contrast);
  --theme-push-card-success-subtext--color: var(--theme-color-success--contrast);
  --theme-push-card-success-accordion--border-color: var(--theme-color-1);
  --theme-push-card-success-accordion--color: var(--theme-color-success--contrast);
  --theme-push-card-success-accordion--background: var(--theme-color-success);
  --theme-push-card-success-accordion--background--hover: var(--theme-color-success--hover);
  --theme-push-card-success-accordion--background--active: var(--theme-color-success--active);
  --theme-push-card-success-accordion-frame--border-color: var(--theme-color-soft-bdr);
  --theme-push-card-success-accordion-frame--border-width: var(--theme-border-width-default);
  --theme-push-card-neutral--background: var(--theme-color-neutral);
  --theme-push-card-neutral--background--hover: var(--theme-color-neutral--hover);
  --theme-push-card-neutral--background--active: var(--theme-color-neutral--active);
  --theme-push-card-neutral--border-color: var(--theme-color-0);
  --theme-push-card-neutral--border-color--hover: var(--theme-color-0);
  --theme-push-card-neutral--border-color--active: var(--theme-color-0);
  --theme-push-card-neutral--color: var(--theme-color-neutral--contrast);
  --theme-push-card-neutral-subtext--color: var(--theme-color-neutral--contrast);
  --theme-push-card-neutral-accordion--border-color: var(--theme-color-1);
  --theme-push-card-neutral-accordion--color: var(--theme-color-neutral--contrast);
  --theme-push-card-neutral-accordion--background: var(--theme-color-neutral);
  --theme-push-card-neutral-accordion--background--hover: var(--theme-color-neutral--hover);
  --theme-push-card-neutral-accordion--background--active: var(--theme-color-neutral--active);
  --theme-push-card-neutral-accordion-frame--border-color: var(--theme-color-soft-bdr);
  --theme-push-card-neutral-accordion-frame--border-width: var(--theme-border-width-default);
  --theme-push-card--border-radius: var(--theme-default-border-radius);
  --theme-push-card--border-width: var(--theme-border-width-default);
  --theme-push-card--focus--outline-offset: var(--theme-focus-outline-offset);
  --theme-push-card-primary-accordion-frame--background: var(--theme-color-component-1);
  --theme-push-card-primary-accordion-footer--background: var(--theme-color-component-1);
  --theme-push-card-filled--background: var(--theme-color-component-1);
  --theme-push-card-filled--background--hover: var(--theme-color-component-1--hover);
  --theme-push-card-filled--background--active: var(--theme-color-component-1--active);
  --theme-push-card-filled-accordion--background: var(--theme-color-component-1);
  --theme-push-card-filled-accordion--background--hover: var(--theme-color-component-1--hover);
  --theme-push-card-filled-accordion--background--active: var(--theme-color-component-1--active);
  --theme-push-card-filled-accordion-frame--background: var(--theme-color-component-1);
  --theme-push-card-filled-accordion-footer--background: var(--theme-color-component-1);
  --theme-push-card-outline--background--hover: var(--theme-color-ghost--hover);
  --theme-push-card-outline--background--active: var(--theme-color-ghost--active);
  --theme-push-card-outline-accordion--background: var(--theme-color-component-1);
  --theme-push-card-outline-accordion--background--hover: var(--theme-color-component-1--hover);
  --theme-push-card-outline-accordion--background--active: var(--theme-color-component-1--active);
  --theme-push-card-outline-accordion-frame--background: var(--theme-color-component-1);
  --theme-push-card-outline-accordion-footer--background: var(--theme-color-component-1);
  --theme-push-card-alarm-accordion-frame--background: var(--theme-color-component-1);
  --theme-push-card-alarm-accordion-footer--background: var(--theme-color-component-1);
  --theme-push-card-warning-accordion-frame--background: var(--theme-color-component-1);
  --theme-push-card-warning-accordion-footer--background: var(--theme-color-component-1);
  --theme-push-card-info-accordion-frame--background: var(--theme-color-component-1);
  --theme-push-card-info-accordion-footer--background: var(--theme-color-component-1);
  --theme-push-card-critical-accordion-frame--background: var(--theme-color-component-1);
  --theme-push-card-critical-accordion-footer--background: var(--theme-color-component-1);
  --theme-push-card-success-accordion-frame--background: var(--theme-color-component-1);
  --theme-push-card-success-accordion-footer--background: var(--theme-color-component-1);
  --theme-push-card-neutral-accordion-frame--background: var(--theme-color-component-1);
  --theme-push-card-neutral-accordion-footer--background: var(--theme-color-component-1);
}