@mixin setVars {
  --theme-radiobtn-unchecked--background: var(--theme-color-secondary);
  --theme-radiobtn-unchecked--background--hover: var(--theme-color-secondary--hover);
  --theme-radiobtn-unchecked--background--active: var(--theme-color-secondary--active);
  --theme-radiobtn-unchecked--background--disabled: var(--theme-color-ghost);
  --theme-radiobtn-unchecked--background--invalid: var(--theme-color-component-error);
  --theme-radiobtn-unchecked--background--invalid--hover: var(--theme-color-component-error);
  --theme-radiobtn-unchecked--background--invalid--active: var(--theme-color-component-error);
  --theme-radiobtn-unchecked--background--warning: var(--theme-color-secondary);
  --theme-radiobtn-unchecked--background--warning--hover: var(--theme-color-secondary--hover);
  --theme-radiobtn-unchecked--background--warning--active: var(--theme-color-secondary--active);
  --theme-radiobtn-unchecked--background--info: var(--theme-color-secondary);
  --theme-radiobtn-unchecked--background--info--hover: var(--theme-color-secondary--hover);
  --theme-radiobtn-unchecked--background--info--active: var(--theme-color-secondary--active);
  --theme-radiobtn-unchecked--border-color: var(--theme-color-contrast-bdr);
  --theme-radiobtn-unchecked--border-color--hover: var(--theme-color-dynamic);
  --theme-radiobtn-unchecked--border-color--active: var(--theme-color-dynamic);
  --theme-radiobtn-unchecked--border-color--disabled: var(--theme-color-component-4);
  --theme-radiobtn-unchecked--border-color--invalid: var(--theme-color-alarm);
  --theme-radiobtn-unchecked--border-color--invalid--hover: var(--theme-color-alarm--hover);
  --theme-radiobtn-unchecked--border-color--invalid--active: var(--theme-color-alarm--active);
  --theme-radiobtn-unchecked--border-color--warning: var(--theme-color-warning);
  --theme-radiobtn-unchecked--border-color--warning--hover: var(--theme-color-warning--hover);
  --theme-radiobtn-unchecked--border-color--warning--active: var(--theme-color-warning--active);
  --theme-radiobtn-unchecked--border-color--info: var(--theme-color-info);
  --theme-radiobtn-unchecked--border-color--info--hover: var(--theme-color-info--hover);
  --theme-radiobtn-unchecked--border-color--info--active: var(--theme-color-info--active);
}