@mixin setVars {
  --theme-switch-thumb-on--background: var(--theme-color-primary--contrast);
  --theme-switch-thumb-on--background--hover: var(--theme-color-primary--contrast);
  --theme-switch-thumb-on--background--active: var(--theme-color-primary--contrast);
  --theme-switch-thumb-on--background--disabled: var(--theme-color-component-3);
  --theme-switch-thumb-on--background--invalid: var(--theme-color-alarm--contrast);
  --theme-switch-thumb-on--background--invalid--hover: var(--theme-color-alarm--contrast);
  --theme-switch-thumb-on--background--invalid--active: var(--theme-color-alarm--contrast);
  --theme-switch-thumb-on--background--warning: var(--theme-color-warning--contrast);
  --theme-switch-thumb-on--background--warning--hover: var(--theme-color-warning--contrast);
  --theme-switch-thumb-on--background--warning--active: var(--theme-color-warning--contrast);
  --theme-switch-thumb-on--background--info: var(--theme-color-info--contrast);
  --theme-switch-thumb-on--background--info--hover: var(--theme-color-info--contrast);
  --theme-switch-thumb-on--background--info--active: var(--theme-color-info--contrast);
  --theme-switch-thumb-on--border-color: var(--theme-color-0);
  --theme-switch-thumb-on--border-color--hover: var(--theme-color-0);
  --theme-switch-thumb-on--border-color--active: var(--theme-color-0);
  --theme-switch-thumb-on--border-color--disabled: var(--theme-color-0);
  --theme-switch-thumb-on--border-color--invalid: var(--theme-color-0);
  --theme-switch-thumb-on--border-color--invalid--hover: var(--theme-color-0);
  --theme-switch-thumb-on--border-color--invalid--active: var(--theme-color-0);
  --theme-switch-thumb-on--border-color--warning: var(--theme-color-0);
  --theme-switch-thumb-on--border-color--warning--hover: var(--theme-color-0);
  --theme-switch-thumb-on--border-color--warning--active: var(--theme-color-0);
  --theme-switch-thumb-on--border-color--info: var(--theme-color-0);
  --theme-switch-thumb-on--border-color--info--hover: var(--theme-color-0);
  --theme-switch-thumb-on--border-color--info--active: var(--theme-color-0);
}