@mixin setVars {
  --theme-switch-thumb-mixed--background: var(--theme-color-1);
  --theme-switch-thumb-mixed--background--hover: var(--theme-color-1);
  --theme-switch-thumb-mixed--background--active: var(--theme-color-1);
  --theme-switch-thumb-mixed--background--disabled: var(--theme-color-component-3);
  --theme-switch-thumb-mixed--background--invalid: var(--theme-color-1);
  --theme-switch-thumb-mixed--background--invalid--hover: var(--theme-color-1);
  --theme-switch-thumb-mixed--background--invalid--active: var(--theme-color-1);
  --theme-switch-thumb-mixed--background--warning: var(--theme-color-1);
  --theme-switch-thumb-mixed--background--warning--hover: var(--theme-color-1);
  --theme-switch-thumb-mixed--background--warning--active: var(--theme-color-1);
  --theme-switch-thumb-mixed--background--info: var(--theme-color-1);
  --theme-switch-thumb-mixed--background--info--hover: var(--theme-color-1);
  --theme-switch-thumb-mixed--background--info--active: var(--theme-color-1);
  --theme-switch-thumb-mixed--border-color: var(--theme-color-0);
  --theme-switch-thumb-mixed--border-color--hover: var(--theme-color-0);
  --theme-switch-thumb-mixed--border-color--active: var(--theme-color-0);
  --theme-switch-thumb-mixed--border-color--disabled: var(--theme-color-0);
  --theme-switch-thumb-mixed--border-color--invalid: var(--theme-color-0);
  --theme-switch-thumb-mixed--border-color--invalid--hover: var(--theme-color-0);
  --theme-switch-thumb-mixed--border-color--invalid--active: var(--theme-color-0);
  --theme-switch-thumb-mixed--border-color--warning: var(--theme-color-0);
  --theme-switch-thumb-mixed--border-color--warning--hover: var(--theme-color-0);
  --theme-switch-thumb-mixed--border-color--warning--active: var(--theme-color-0);
  --theme-switch-thumb-mixed--border-color--info: var(--theme-color-0);
  --theme-switch-thumb-mixed--border-color--info--hover: var(--theme-color-0);
  --theme-switch-thumb-mixed--border-color--info--active: var(--theme-color-0);
}