@mixin setVars {
  --theme-switch-on--background: var(--theme-color-dynamic);
  --theme-switch-on--background--hover: var(--theme-color-dynamic--hover);
  --theme-switch-on--background--active: var(--theme-color-dynamic--active);
  --theme-switch-on--background--disabled: var(--theme-color-component-2);
  --theme-switch-on--background--invalid: var(--theme-color-alarm);
  --theme-switch-on--background--invalid--hover: var(--theme-color-alarm--hover);
  --theme-switch-on--background--invalid--active: var(--theme-color-alarm--active);
  --theme-switch-on--background--warning: var(--theme-color-warning);
  --theme-switch-on--background--warning--hover: var(--theme-color-warning--hover);
  --theme-switch-on--background--warning--active: var(--theme-color-warning--active);
  --theme-switch-on--background--info: var(--theme-color-info);
  --theme-switch-on--background--info--hover: var(--theme-color-info--hover);
  --theme-switch-on--background--info--active: var(--theme-color-info--active);
  --theme-switch-on--border-color: var(--theme-color-0);
  --theme-switch-on--border-color--hover: var(--theme-color-0);
  --theme-switch-on--border-color--active: var(--theme-color-0);
  --theme-switch-on--border-color--disabled: var(--theme-color-0);
  --theme-switch-on--border-color--invalid: var(--theme-color-0);
  --theme-switch-on--border-color--invalid--hover: var(--theme-color-0);
  --theme-switch-on--border-color--invalid--active: var(--theme-color-0);
  --theme-switch-on--border-color--warning: var(--theme-color-0);
  --theme-switch-on--border-color--warning--hover: var(--theme-color-0);
  --theme-switch-on--border-color--warning--active: var(--theme-color-0);
  --theme-switch-on--border-color--info: var(--theme-color-0);
  --theme-switch-on--border-color--info--hover: var(--theme-color-0);
  --theme-switch-on--border-color--info--active: var(--theme-color-0);
}