@mixin setVars {
  --theme-switch-thumb--box-shadow: none;
  --theme-switch-mixed--background: var(--theme-color-component-4);
  --theme-switch-mixed--background--hover: var(--theme-color-component-5);
  --theme-switch-mixed--background--active: var(--theme-color-component-4);
  --theme-switch-mixed--background--disabled: var(--theme-color-component-2);
  --theme-switch-mixed--background--invalid: var(--theme-color-component-4);
  --theme-switch-mixed--background--invalid--hover: var(--theme-color-component-5);
  --theme-switch-mixed--background--invalid--active: var(--theme-color-component-4);
  --theme-switch-mixed--background--warning: var(--theme-color-component-4);
  --theme-switch-mixed--background--warning--hover: var(--theme-color-component-5);
  --theme-switch-mixed--background--warning--active: var(--theme-color-component-4);
  --theme-switch-mixed--background--info: var(--theme-color-component-4);
  --theme-switch-mixed--background--info--hover: var(--theme-color-component-5);
  --theme-switch-mixed--background--info--active: var(--theme-color-component-4);
  --theme-switch-mixed--border-color: var(--theme-color-0);
  --theme-switch-mixed--border-color--hover: var(--theme-color-0);
  --theme-switch-mixed--border-color--active: var(--theme-color-0);
  --theme-switch-mixed--border-color--disabled: var(--theme-color-0);
  --theme-switch-thumb-mixed--background: var(--theme-color-1);
  --theme-switch-thumb-mixed--background--hover: var(--theme-color-1);
  --theme-switch-thumb-mixed--background--active: var(--theme-color-1);
  --theme-switch-thumb-mixed--background--disabled: var(--theme-color-component-3);
  --theme-switch-thumb-mixed--background--invalid: var(--theme-color-1);
  --theme-switch-thumb-mixed--background--invalid--hover: var(--theme-color-1);
  --theme-switch-thumb-mixed--background--invalid--active: var(--theme-color-1);
  --theme-switch-thumb-mixed--background--warning: var(--theme-color-1);
  --theme-switch-thumb-mixed--background--warning--hover: var(--theme-color-1);
  --theme-switch-thumb-mixed--background--warning--active: var(--theme-color-1);
  --theme-switch-thumb-mixed--background--info: var(--theme-color-1);
  --theme-switch-thumb-mixed--background--info--hover: var(--theme-color-1);
  --theme-switch-thumb-mixed--background--info--active: var(--theme-color-1);
  --theme-switch-thumb-mixed--border-color: var(--theme-color-0);
  --theme-switch-thumb-mixed--border-color--hover: var(--theme-color-0);
  --theme-switch-thumb-mixed--border-color--active: var(--theme-color-0);
  --theme-switch-thumb-mixed--border-color--disabled: var(--theme-color-0);
  --theme-switch-thumb-mixed--border-color--invalid: var(--theme-color-0);
  --theme-switch-thumb-mixed--border-color--invalid--hover: var(--theme-color-0);
  --theme-switch-thumb-mixed--border-color--invalid--active: var(--theme-color-0);
  --theme-switch-thumb-mixed--border-color--warning: var(--theme-color-0);
  --theme-switch-thumb-mixed--border-color--warning--hover: var(--theme-color-0);
  --theme-switch-thumb-mixed--border-color--warning--active: var(--theme-color-0);
  --theme-switch-thumb-mixed--border-color--info: var(--theme-color-0);
  --theme-switch-thumb-mixed--border-color--info--hover: var(--theme-color-0);
  --theme-switch-thumb-mixed--border-color--info--active: var(--theme-color-0);
  --theme-switch-off--background: var(--theme-color-component-4);
  --theme-switch-off--background--hover: var(--theme-color-component-5);
  --theme-switch-off--background--active: var(--theme-color-component-4);
  --theme-switch-off--background--disabled: var(--theme-color-component-2);
  --theme-switch-off--background--invalid: var(--theme-color-component-4);
  --theme-switch-off--background--invalid--hover: var(--theme-color-component-5);
  --theme-switch-off--background--invalid--active: var(--theme-color-component-4);
  --theme-switch-off--background--warning: var(--theme-color-component-4);
  --theme-switch-off--background--warning--hover: var(--theme-color-component-5);
  --theme-switch-off--background--warning--active: var(--theme-color-component-4);
  --theme-switch-off--background--info: var(--theme-color-component-4);
  --theme-switch-off--background--info--hover: var(--theme-color-component-5);
  --theme-switch-off--background--info--active: var(--theme-color-component-4);
  --theme-switch-off--border-color: var(--theme-color-0);
  --theme-switch-off--border-color--hover: var(--theme-color-0);
  --theme-switch-off--border-color--active: var(--theme-color-0);
  --theme-switch-off--border-color--disabled: var(--theme-color-0);
  --theme-switch-off--border-color--invalid: var(--theme-color-alarm);
  --theme-switch-off--border-color--invalid--hover: var(--theme-color-alarm--hover);
  --theme-switch-off--border-color--invalid--active: var(--theme-color-alarm--active);
  --theme-switch-off--border-color--warning: var(--theme-color-warning);
  --theme-switch-off--border-color--warning--hover: var(--theme-color-warning--hover);
  --theme-switch-off--border-color--warning--active: var(--theme-color-warning--active);
  --theme-switch-off--border-color--info: var(--theme-color-info);
  --theme-switch-off--border-color--info--hover: var(--theme-color-info--hover);
  --theme-switch-off--border-color--info--active: var(--theme-color-info--active);
  --theme-switch-thumb-off--background: var(--theme-color-1);
  --theme-switch-thumb-off--background--hover: var(--theme-color-1);
  --theme-switch-thumb-off--background--active: var(--theme-color-1);
  --theme-switch-thumb-off--background--disabled: var(--theme-color-component-3);
  --theme-switch-thumb-off--background--invalid: var(--theme-color-1);
  --theme-switch-thumb-off--background--invalid--hover: var(--theme-color-1);
  --theme-switch-thumb-off--background--invalid--active: var(--theme-color-1);
  --theme-switch-thumb-off--background--warning: var(--theme-color-1);
  --theme-switch-thumb-off--background--warning--hover: var(--theme-color-1);
  --theme-switch-thumb-off--background--warning--active: var(--theme-color-1);
  --theme-switch-thumb-off--background--info: var(--theme-color-1);
  --theme-switch-thumb-off--background--info--hover: var(--theme-color-1);
  --theme-switch-thumb-off--background--info--active: var(--theme-color-1);
  --theme-switch-thumb-off--border-color: var(--theme-color-0);
  --theme-switch-thumb-off--border-color--hover: var(--theme-color-0);
  --theme-switch-thumb-off--border-color--active: var(--theme-color-0);
  --theme-switch-thumb-off--border-color--disabled: var(--theme-color-0);
  --theme-switch-thumb-off--border-color--invalid: var(--theme-color-0);
  --theme-switch-thumb-off--border-color--invalid--hover: var(--theme-color-0);
  --theme-switch-thumb-off--border-color--invalid--active: var(--theme-color-0);
  --theme-switch-thumb-off--border-color--warning: var(--theme-color-0);
  --theme-switch-thumb-off--border-color--warning--hover: var(--theme-color-0);
  --theme-switch-thumb-off--border-color--warning--active: var(--theme-color-0);
  --theme-switch-on--background: var(--theme-color-dynamic);
  --theme-switch-on--background--hover: var(--theme-color-dynamic--hover);
  --theme-switch-on--background--active: var(--theme-color-dynamic--active);
  --theme-switch-on--background--disabled: var(--theme-color-component-2);
  --theme-switch-on--background--invalid: var(--theme-color-alarm);
  --theme-switch-on--background--invalid--hover: var(--theme-color-alarm--hover);
  --theme-switch-on--background--invalid--active: var(--theme-color-alarm--active);
  --theme-switch-on--background--warning: var(--theme-color-warning);
  --theme-switch-on--background--warning--hover: var(--theme-color-warning--hover);
  --theme-switch-on--background--warning--active: var(--theme-color-warning--active);
  --theme-switch-on--background--info: var(--theme-color-info);
  --theme-switch-on--background--info--hover: var(--theme-color-info--hover);
  --theme-switch-on--background--info--active: var(--theme-color-info--active);
  --theme-switch-on--border-color: var(--theme-color-0);
  --theme-switch-on--border-color--hover: var(--theme-color-0);
  --theme-switch-on--border-color--active: var(--theme-color-0);
  --theme-switch-on--border-color--disabled: var(--theme-color-0);
  --theme-switch-on--border-color--invalid: var(--theme-color-0);
  --theme-switch-on--border-color--invalid--hover: var(--theme-color-0);
  --theme-switch-on--border-color--invalid--active: var(--theme-color-0);
  --theme-switch-on--border-color--warning: var(--theme-color-0);
  --theme-switch-on--border-color--warning--hover: var(--theme-color-0);
  --theme-switch-on--border-color--warning--active: var(--theme-color-0);
  --theme-switch-on--border-color--info: var(--theme-color-0);
  --theme-switch-on--border-color--info--hover: var(--theme-color-0);
  --theme-switch-on--border-color--info--active: var(--theme-color-0);
  --theme-switch-thumb-on--background: var(--theme-color-primary--contrast);
  --theme-switch-thumb-on--background--hover: var(--theme-color-primary--contrast);
  --theme-switch-thumb-on--background--active: var(--theme-color-primary--contrast);
  --theme-switch-thumb-on--background--disabled: var(--theme-color-component-3);
  --theme-switch-thumb-on--background--invalid: var(--theme-color-alarm--contrast);
  --theme-switch-thumb-on--background--invalid--hover: var(--theme-color-alarm--contrast);
  --theme-switch-thumb-on--background--invalid--active: var(--theme-color-alarm--contrast);
  --theme-switch-thumb-on--background--warning: var(--theme-color-warning--contrast);
  --theme-switch-thumb-on--background--warning--hover: var(--theme-color-warning--contrast);
  --theme-switch-thumb-on--background--warning--active: var(--theme-color-warning--contrast);
  --theme-switch-thumb-on--background--info: var(--theme-color-info--contrast);
  --theme-switch-thumb-on--background--info--hover: var(--theme-color-info--contrast);
  --theme-switch-thumb-on--background--info--active: var(--theme-color-info--contrast);
  --theme-switch-thumb-on--border-color: var(--theme-color-0);
  --theme-switch-thumb-on--border-color--hover: var(--theme-color-0);
  --theme-switch-thumb-on--border-color--active: var(--theme-color-0);
  --theme-switch-thumb-on--border-color--disabled: var(--theme-color-0);
  --theme-switch-thumb-on--border-color--invalid: var(--theme-color-0);
  --theme-switch-thumb-on--border-color--invalid--hover: var(--theme-color-0);
  --theme-switch-thumb-on--border-color--invalid--active: var(--theme-color-0);
  --theme-switch-thumb-on--border-color--warning: var(--theme-color-0);
  --theme-switch-thumb-on--border-color--warning--hover: var(--theme-color-0);
  --theme-switch-thumb-on--border-color--warning--active: var(--theme-color-0);
  --theme-switch-thumb-on--border-color--info: var(--theme-color-0);
  --theme-switch-thumb-on--border-color--info--hover: var(--theme-color-0);
  --theme-switch-thumb-on--border-color--info--active: var(--theme-color-0);
  --theme-switch--color: var(--theme-color-std-text);
  --theme-switch--color--hover: var(--theme-color-std-text);
  --theme-switch--color--active: var(--theme-color-std-text);
  --theme-switch--color--disabled: var(--theme-color-weak-text);
}