@mixin setVars {
  --theme-tab-indicator--height: 0.125rem;
  --theme-tab--background: var(--theme-color-ghost);
  --theme-tab--background--hover: var(--theme-color-ghost-primary--hover);
  --theme-tab--background--active: var(--theme-color-ghost-primary--active);
  --theme-tab--background--selected: var(--theme-color-ghost);
  --theme-tab--background--disabled: var(--theme-color-ghost);
  --theme-tab-indicator--background: var(--theme-color-soft-bdr);
  --theme-tab-indicator--background--hover: var(--theme-color-soft-bdr);
  --theme-tab-indicator--background--active: var(--theme-color-soft-bdr);
  --theme-tab-indicator--background--selected: var(--theme-color-dynamic);
  --theme-tab-indicator--background--disabled: var(--theme-color-soft-bdr);
  --theme-animated-tab-indicator--background: var(--theme-color-soft-bdr);
  --theme-animated-tab-indicator--background--hover: var(--theme-color-soft-bdr);
  --theme-animated-tab-indicator--background--active: var(--theme-color-soft-bdr);
  --theme-animated-tab-indicator--background--selected: var(--theme-color-dynamic);
  --theme-tab--color: var(--theme-color-std-text);
  --theme-tab--color--hover: var(--theme-color-std-text);
  --theme-tab--color--active: var(--theme-color-std-text);
  --theme-tab--color--selected: var(--theme-color-std-text);
  --theme-tab--color--disabled: var(--theme-color-weak-text);
  --theme-tab-icon--color: var(--theme-color-std-text);
  --theme-tab-icon--color--hover: var(--theme-color-std-text);
  --theme-tab-icon--color--active: var(--theme-color-std-text);
  --theme-tab-icon--color--selected: var(--theme-color-std-text);
  --theme-tab-icon--color--disabled: var(--theme-color-weak-text);
  --theme-animated-tab-icon--color: var(--theme-color-std-text);
  --theme-animated-tab-icon--color--hover: var(--theme-color-std-text);
  --theme-animated-tab-icon--color--active: var(--theme-color-std-text);
  --theme-animated-tab-icon--color--selected: var(--theme-color-std-text);
  --theme-animated-tab-icon--color--disabled: var(--theme-color-weak-text);
  --theme-animated-tab-circle--background--hover: var(--theme-color-ghost-primary--hover);
  --theme-animated-tab-circle--background--active: var(--theme-color-ghost-primary--active);
  --theme-animated-tab-circle--background--selected: var(--theme-color-ghost);
  --theme-animated-tab-circle--background--disabled: var(--theme-color-ghost);
  --theme-animated-tab-circle--border-color: var(--theme-color-0);
  --theme-animated-tab-circle--border-color--hover: var(--theme-color-0);
  --theme-animated-tab-circle--border-color--active: var(--theme-color-0);
  --theme-animated-tab-circle--border-color--selected: var(--theme-color-dynamic);
  --theme-animated-tab-circle--border-color--disabled: var(--theme-color-ghost);
  --theme-tab-pill--border-color: var(--theme-color-neutral);
  --theme-tab-pill--border-color--hover: var(--theme-color-neutral);
  --theme-tab-pill--border-color--active: var(--theme-color-neutral);
  --theme-tab-pill--border-color--selected: var(--theme-color-dynamic);
  --theme-tab-pill--border-color--disabled: var(--theme-color-neutral);
  --theme-table-group-header-row--background: var(--theme-color-0);
  --theme-table-group-header-row--border-color: var(--theme-color-soft-bdr);
  --theme-animated-tab-circle--background: var(--theme-color-component-1);
}