@mixin setVars {
  --theme-table-data-cell--border-color: var(--theme-color-0);
  --theme-table-data-cell--background: var(--theme-color-ghost);
  --theme-table-data-cell--background--hover: var(--theme-color-ghost--hover);
  --theme-table-data-cell--background--active: var(--theme-color-ghost--active);
  --theme-table-data-cell--background--selected: var(--theme-color-ghost--selected);
  --theme-table-data-cell--background--disabled: var(--theme-color-ghost);
  --theme-table-data-cell--background--selected-hover: var(--theme-color-ghost--selected-hover);
  --theme-table-data-cell--background--selected-active: var(--theme-color-ghost--selected-active);
  --theme-table-data-cell--color: var(--theme-color-std-text);
  --theme-table-data-cell--color-disabled: var(--theme-color-weak-text);
}