@mixin setVars {
  --theme-toast--background: var(--theme-color-2);
  --theme-toast--border-color: var(--theme-color-0);
  --theme-toast--color: var(--theme-color-std-text);
  --theme-toast--border-thickness: var(--theme-border-width-none);
  --theme-toast--border-radus: var(--theme-default-border-radius);
  --theme-toast--box-shadow: var(--theme-shadow-4);
}