/*
 * SPDX-FileCopyrightText: 2022 Siemens AG
 *
 * SPDX-License-Identifier: MIT
 */

@import 'common-variables';
@import 'mixins/text-truncation';

.message-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-height: 3.375rem;
  margin: $small-space $small-space 0rem $small-space;
  padding: calc(#{$medium-space} - var(--theme-message-bar--border-thickness))
    $medium-space
    calc(#{$medium-space} - var(--theme-message-bar--border-thickness))
    $default-space;
  border-radius: var(--theme-message-bar--border-radius);
  background-color: var(--theme-messagebar--background);
}

.danger {
  border: solid var(--theme-message-bar--border-thickness)
    var(--theme-color-alarm);
}

.warning {
  border: solid var(--theme-message-bar--border-thickness)
    var(--theme-color-warning);
}

.info {
  border: solid var(--theme-message-bar--border-thickness)
    var(--theme-color-info);
}

.message-content {
  @include ellipsis;
  flex-grow: 1;
  align-self: center;
  min-height: 1.25rem;
  padding: 0 $default-space;
  font-weight: bold;
  white-space: normal;
}

ix-icon {
  margin-top: $tiny-space;
}
