[class*='ag-theme-ix'] {
  --ag-background-color: transparent;
  --ag-header-background-color: transparent;
  --ag-odd-row-background-color: transparent;
  --ag-row-hover-color: var(--theme-table-data-row--background--hover);
  --ag-selected-row-background-color: var(--theme-table-data-row--background--selected);

  --ag-range-selection-background-color: var(--theme-table-data-row--background--selected);
  --ag-range-selection-border-color: var(--theme-color-input--focus);
  --ag-header-column-resize-handle-color: var(--theme-table-header-splitter--background);
  --ag-header-column-resize-handle-height: 100%;
  --ag-header-column-resize-handle-width: 1px;

  --ag-input-focus-box-shadow: none;

  --ag-checkbox-checked-color: var(--theme-color-input--focus);

  .ag-root-wrapper {
    border: none;
  }

  .ag-filter {
    background-color: var(--ag-control-panel-background-color);
  }

  .ag-select-list {
    background-color: var(--ag-control-panel-background-color);
    font-family: Siemens Sans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
  }

  .ag-header-cell .ag-header-cell-resize::after {
    background-color: transparent;
  }

  .ag-header-active .ag-header-cell-resize::after {
    background-color: var(--ag-header-column-resize-handle-color);
  }

  .ag-icon {
    color: var(--theme-table-header-sort--color);
  }

  .ag-header-cell-resize::after {
    transition: background-color 250ms linear;
  }

  .ag-header-cell-resize:hover::after {
    background-color: var(--theme-table-header-splitter--background--hover);
  }

  .ag-row-focus::before {
    border: 1px solid var(--theme-color-input--focus);
  }

  .ag-row-hover:active {
    background-color: var(--theme-table-data-row--background--active);
  }

  .ag-row-hover.ag-row-selected {
    background-color: var(--theme-table-data-row--background--selected-hover);
  }

  .ag-row-hover.ag-row-selected:active {
    background-color: var(--theme-table-data-row--background--selected-active);
  }

  .ag-header-cell {
    font-family: Siemens Sans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--theme-table-header-cell--color);
  }

  .ag-cell {
    font-family: Siemens Sans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: var(--theme-table-data-cell--color);
  }
}
