/*
 * SPDX-FileCopyrightText: 2022 Siemens AG
 *
 * SPDX-License-Identifier: MIT
 */

@import 'common-variables';

:host {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  main {
    width: 100%;
    padding: 2rem;
  }

  ix-chip {
    margin-block-end: $default-space;
  }
}
