@import 'common-variables';

.card {
  background-color: var(--theme-menu--background);
  width: 100%;
  box-shadow: none;
  border: none;
  border-radius: unset;

  &.individual {
    box-shadow: 0 0 2px 0 var(--theme-input--border-color-bottom--disabled),
      0 4px 8px 0 var(--theme-input--border-color-bottom--disabled),
      0 12px 18px 0px var(--theme-input--border-color-bottom--disabled);
    border: 1px solid var(--theme-menu--border-color);
    border-radius: 4px;
  }

  &.left {
    border-radius: 4px 0 0 4px;
  }

  &.right {
    border-radius: 0 4px 4px 0;
  }

  .header {
    padding: $default-space;
  }

  .separator {
    border: 1px solid var(--theme-datepicker-separator--background);
    width: 100%;
  }

  .content {
    height: 100%;
    padding: 0px $default-space $default-space $default-space;
  }
}
