.viewport {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}

.formContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.ruleList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ruleItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--theme-color-std-text);
  font-size: var(--theme-font-size-h6);
  line-height: 1.43;
}

.ruleIcon {
  width: 0.875rem;
  text-align: center;
  font-weight: var(--theme-font-weight-bold);
}

.valid {
  color: var(--theme-color-success);
}

.invalid {
  color: var(--theme-color-alarm);
}
