:root {
  --si-ref-typography-font-family-mono: 'Courier New', monospace;
  --si-ref-typography-font-family-sans: Arial, helvetica, sans-serif;
  --si-ref-typography-font-size-body: 0.875rem;
  --si-ref-typography-font-size-body-lg: 1rem;
  --si-ref-typography-font-size-body-paragraph: 0.875rem;
  --si-ref-typography-font-size-body-sm: 0.75rem;
  --si-ref-typography-font-size-code: 0.875rem;
  --si-ref-typography-font-size-code-lg: 1rem;
  --si-ref-typography-font-size-code-sm: 0.75rem;
  --si-ref-typography-font-size-display: 2rem;
  --si-ref-typography-font-size-display-lg: 2.5rem;
  --si-ref-typography-font-size-display-xl: 3rem;
  --si-ref-typography-font-size-display-xxl: 3.625rem;
  --si-ref-typography-font-size-h1: 1.75rem;
  --si-ref-typography-font-size-h2: 1.5rem;
  --si-ref-typography-font-size-h3: 1.25rem;
  --si-ref-typography-font-size-h4: 1rem;
  --si-ref-typography-font-size-h5: 0.875rem;
  --si-ref-typography-font-size-h6: 0.75rem;
  --si-ref-typography-font-weight-bold: 700;
  --si-ref-typography-font-weight-roman: 400;
  --si-ref-typography-font-weight-sbold: 600;
  --si-ref-typography-letter-spacing-normal: 0;
  --si-ref-typography-line-height-body: 1rem;
  --si-ref-typography-line-height-body-lg: 1.25rem;
  --si-ref-typography-line-height-body-paragraph: 1.25rem;
  --si-ref-typography-line-height-body-sm: 1rem;
  --si-ref-typography-line-height-code: 1.25rem;
  --si-ref-typography-line-height-code-lg: 1.25rem;
  --si-ref-typography-line-height-code-sm: 1rem;
  --si-ref-typography-line-height-display: 2.5rem;
  --si-ref-typography-line-height-display-lg: 3.25rem;
  --si-ref-typography-line-height-display-xl: 4rem;
  --si-ref-typography-line-height-display-xxl: 4.5rem;
  --si-ref-typography-line-height-h1: 2.25rem;
  --si-ref-typography-line-height-h2: 2rem;
  --si-ref-typography-line-height-h3: 1.5rem;
  --si-ref-typography-line-height-h4: 1.25rem;
  --si-ref-typography-line-height-h5: 1.25rem;
  --si-ref-typography-line-height-h6: 1rem;
}



