@use 'mixins/shadow-dom/component';
@use 'tokens/system' as sys;

@use './empty-state.vars' as *;
:host {
  @include component.ix-component;

  .label__subHeader {
    color: var(--ix-empty-state-label--color);
  }
}

:host(.emptyState.emptyState--large) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: #{sys.$si-sys-sizing-spacing-y-60};

  .emptyState__icon {
    width: calc(
      #{sys.$si-sys-sizing-icon-xxl} + #{sys.$si-sys-sizing-spacing-x-40}
    );
    height: calc(
      #{sys.$si-sys-sizing-icon-xxl} + #{sys.$si-sys-sizing-spacing-y-40}
    );
    display: flex;
    justify-content: center;
    align-items: center;

    ix-icon {
      transform: scale(1.75);
    }
  }

  .emptyState__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: #{sys.$si-sys-sizing-spacing-y-80};

    .content__label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: #{sys.$si-sys-sizing-spacing-y-40};
    }
  }

  .label__subHeader,
  ix-typography {
    text-align: center;
  }
}

:host(.emptyState.emptyState--compact) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: #{sys.$si-sys-sizing-spacing-x-60};

  .emptyState__icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: #{sys.$si-sys-sizing-size-90};
  }

  .emptyState__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: #{sys.$si-sys-sizing-spacing-x-60};
  }
}

:host(.emptyState.emptyState--compactBreak) {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: #{sys.$si-sys-sizing-spacing-x-60};

  .emptyState__icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: #{sys.$si-sys-sizing-size-90};
  }

  .emptyState__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: #{sys.$si-sys-sizing-spacing-x-40};
  }
}
