@use 'mixins/shadow-dom/component';
@use 'tokens/system' as sys;

@use './empty-state.vars' as *;
:host {
  @include component.ix-component;

  .label__subHeader {
    color: var(--ix-empty-state-label--color);
  }
}

:host(.emptyState.emptyState--large) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--ix-empty-state-large--gap);

  .emptyState__icon {
    width: var(--ix-empty-state-icon-large--icon-size);
    height: var(--ix-empty-state-icon-large--icon-size--icon);
    display: flex;
    justify-content: center;
    align-items: center;

    ix-icon {
      transform: scale(1.75);
    }
  }

  .emptyState__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--ix-empty-state-content-large--gap);

    .content__label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--ix-empty-state-content-label-large--gap);
    }
  }

  .label__subHeader,
  ix-typography {
    text-align: center;
  }
}

:host(.emptyState.emptyState--compact) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--ix-empty-state-compact--gap);

  .emptyState__icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--ix-empty-state-icon-compact--icon-size);
  }

  .emptyState__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--ix-empty-state-content-compact--gap);
  }
}

:host(.emptyState.emptyState--compactBreak) {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--ix-empty-state-compact-break--gap);

  .emptyState__icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--ix-empty-state-icon--icon-size);
  }

  .emptyState__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--ix-empty-state-content--gap);
  }
}
