@media (max-width: 576px) {
  .container {
    padding: 50px 40px 50px 40px !important;
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1660px;
    position: relative;

    .introduction_container {
      height: 100%;
      width: auto;
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      position: relative;

      .introduction_content {
        height: fit-content;
        width: auto;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }
    }
  }

  @media (max-width: 1280px) {
    &.industrial_experience {
      height: 1288px !important;
    }

    .content .introduction_container {
      flex-direction: column;
      align-items: start;
      padding-top: 81px;

      .introduction_content {
        flex-grow: 0;
        width: 100%;
      }
    }
  }

  @media (max-width: 768px) {
    &.industrial_experience {
      height: 1188px !important;
    }

    .content {
      line-height: 25px;
    }
  }

  &.industrial_experience {
    padding: 0 97px 0 66px;
    height: calc(100vh - var(--ifm-navbar-height));
    overflow: hidden;
    background-color: #000028;

    .logo {
      margin-bottom: 45px;
      margin-left: 24px;
    }

    .scroll_down {
      display: block;
      position: absolute;
      left: 47%;
      right: 50%;
      bottom: 40px;
      text-decoration: none !important;
      animation-duration: 10s;
      width: 4rem;
      height: 4rem;

      ix-icon {
        width: 100%;
        height: 100%;
      }
    }

    @media (max-width: 1280px) {
      .scroll_down {
        display: block;
      }
    }

    @media (max-width: 768px) {
      .scroll_down {
        left: 49% !important;
      }
    }

    @media (max-width: 576px) {
      .scroll_down {
        bottom: -40px !important;
        left: 42% !important;
      }

      .headline {
        margin-left: 0 !important;
      }

      .logo {
        margin-left: 0 !important;
      }
    }
  }

  &.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 211px 0;
    background-color: #00ffb9;
    color: #000028;
    font-size: 70px;

    .title {
      display: flex;
      margin-bottom: 58px;
      font-weight: bold;
    }

    .icons {
      display: flex;
      align-items: center;
      font-size: 15vw;
      justify-content: center;
    }

    .plus {
      font-size: 10vw;
      width: 10vw;
      height: 10vw;
    }
  }

  &.call_to_actions {
    height: fit-content;
    flex-direction: row;
    gap: 40px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;

    .lines {
      display: flex;
      gap: 40px;
    }
  }

  @media (max-width: 1280px) {
    &.call_to_actions {
      flex-direction: column;
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
    }

    .lines {
      flex-direction: column;
    }
  }

  @media (max-width: 768px) {
    &.call_to_actions {
      padding: 0 !important;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      gap: 30px;

      .lines {
        gap: 30px;
      }
    }
  }

  @media (max-width: 576px) {
    &.call_to_actions {
      margin-left: 0;
    }
  }

  @media (max-width: 576px) {
    &.devices {
      height: 926px !important;
    }
  }

  &.devices {
    padding: 8rem 66px 40px 66px;
    min-height: 100vh;
    background-image: linear-gradient(#000028, #2d3137);
    overflow-x: clip;

    .image {
      position: absolute;
      top: -105px;
      width: 70%;
      height: auto;
      object-fit: cover;
      right: 0;
    }

    @media (max-width: 1280px) {
      .image {
        max-width: none !important;
        height: 350% !important;
        left: -10%;
        width: auto !important;
      }

      .device_headline {
        position: relative;
        z-index: 1;
      }
    }

    @media (max-width: 768px) {
      .image {
        max-width: none !important;
        width: 150% !important;
        height: 400% !important;
        left: -20%;
      }

      .text_2 {
        width: 300px !important;
      }
    }

    @media (max-width: 576px) {
      .image {
        top: 220px !important;
        height: 80% !important;
      }
    }
  }

  &.ux,
  &.developers {
    min-height: 100vh;
    padding: 65px 66px;
    background-image: linear-gradient(#00ffb9, #00cccc);

    .names {
      font-size: 22px;
      line-height: 32px;
      font-weight: bold;
    }

    .images {
      display: flex;
      justify-content: space-between;
      margin: 90px 0 0 0;

      .image {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        gap: 42px;
        margin: auto;

        img {
          max-width: 163px;
          max-height: 148px;
        }

        .main {
          z-index: 1;
        }

        .shadow {
          position: absolute;
          z-index: 0;
          margin-left: 20px;
          margin-top: -10px;
        }
      }

      .image_main {
        position: absolute;
        z-index: 1;
      }

      .image_shadow {
        margin-left: 10px;
        margin-top: -10px;
      }
    }

    @media (max-width: 1280px) {
      .images {
        flex-direction: column;
        align-items: center;
        gap: 80px;
      }

      .text_2 {
        width: 380px !important;
      }
    }

    @media (max-width: 576px) {
      .text_2 {
        width: 300px !important;
      }
    }
  }

  &.developers {
    background-image: linear-gradient(#00cccc, #00ffb9);

    @media (max-width: 768px) {
      .text_2 {
        width: 300px !important;
      }
    }

    @media (max-width: 576px) {
      .bold {
        line-height: 35px !important;
      }
    }
  }

  &.features {
    display: flex;
    align-items: center;
    padding: 125px 0;
    background-color: #23233c;
  }

  &.icons {
    padding: 40px 66px;
    min-height: 100vh;
    background-color: #000028;

    .images {
      display: flex;
      flex-direction: column;
      margin-top: 39px;
      padding-bottom: 108.8px;
    }

    .row {
      display: flex;
      justify-content: space-between;
    }

    i {
      font-size: 4rem;
    }

    .icon_main {
      position: absolute;
      z-index: 1;
      width: 4rem;
      height: 4rem;
    }

    .icon_shadow {
      margin-left: 10px;
      margin-top: -20px;
      color: #000;
      width: 4rem;
      height: 4rem;
    }

    .images {
      flex-direction: row;
      justify-content: space-between;
    }

    .row {
      flex-direction: column;
      gap: 90px;
    }


    @media (max-width: 768px) {
      .text_2 {
        width: 300px !important;
      }

      .icon_main {
        width: 2rem;
        height: 2rem;
      }

      .icon_shadow {
        width: 2rem;
        height: 2rem;
      }
    }

    @media (max-width: 576px) {
      .images {
        gap: 10px !important;
      }

      .icon_main {
        width: 1rem;
        height: 1rem;
      }

      .icon_shadow {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  &.brand_design {
    padding: 40px 66px;
    min-height: 100vh;

    @media (max-width: 576px) {
      .arrow {
        display: none !important;
      }

      .row {
        position: absolute;
        width: 250%;
        left: -100px;
      }

      .carousel_indicators {
        margin-top: 450px;
      }
    }

    .row {
      display: flex;
      justify-content: center;
      align-items: center;

      .hidden {
        display: none;
      }
    }

    .arrow {
      font-size: 3rem;
      cursor: pointer;
    }

    .carousel_indicators {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    .circle {
      height: 20px;
      width: 20px;
      background-color: #23233c;
      border: 2px solid #ffffff;
      border-radius: 50%;
      display: inline-block;

      &.selected {
        background-color: #ffffff;
      }
    }

    @media (max-width: 768px) {
      .text_2 {
        width: 340px !important;
      }
    }
  }

  @media (max-width: 576px) {
    &.components {
      background-image: none !important;
      background-color: #000028;
    }
  }

  &.components {
    padding: 74px 66px;
    min-height: 100vh;
    background-image: linear-gradient(to right, white 0 50%, #010021 50% 100%);
    overflow: hidden;

    .video {
      object-fit: cover;
      width: 100%;
    }

    @media (max-width: 768px) {
      .headline {
        width: 50% !important;
      }

      .headline .content .bold {
        line-height: 35px;
      }

      .text_2 {
        width: 290px !important;
      }

      .video {
        width: 200%;
        left: -50%;
        position: absolute;
      }
    }

    @media (max-width: 576px) {
      .text_dark {
        color: #ffffff !important;
      }

      .video {
        padding-top: 40px !important;
        height: 210% !important;
      }
    }
  }

  &.information_cards {
    display: flex;
    padding: 140px 90px;
    min-height: 100vh;
    align-items: center;
    background: #595972;
    background-size: contain;

    @media (max-width: 768px) {
      .card {
        width: 309px !important;
        height: 335px !important;
        gap: 74px !important;
        padding-top: 74px !important;
      }

      .text {
        font-size: 16px !important;
        line-height: 24px !important;
      }
    }

    @media (max-width: 768px) {
      .column {
        flex-direction: column !important;
        align-items: center !important;
      }
    }

    .screen {
      width: 100%;
    }

    .column {
      display: flex;
      flex-direction: column;
      gap: 46px;
      width: 100%;
      justify-content: center;
    }

    .row {
      display: flex;
      justify-content: space-between;
    }

    .card {
      display: flex;
      flex-direction: column;
      gap: 84px;
      width: 365px;
      height: 365px;
      background-color: #23233c;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
      align-items: center;
      padding: 90px 20px 20px 20px;

      .icon_gap {
        display: flex;
        flex-direction: row;
        gap: 31px;

        ix-icon {
          transform: scale(3.5);
        }
      }
    }

    .hidden {
      display: none;
    }

    .text {
      font-size: 22px;
      line-height: 32px;
      text-align: center;
      color: rgba(255, 255, 255, 0.85);
    }

    @media (max-width: 1439px) {
      .column {
        flex-direction: row;
      }

      .row {
        flex-direction: column;
        gap: 46px;
      }
    }
  }

  &.footer_features {
    display: flex;
    align-items: center;
    background-color: #23233c;
    padding-top: 125px;
    padding-bottom: 128px;

    @media (max-width: 768px) {
      .row {
        gap: 100px !important;
      }
    }

    .row {
      display: flex;
      gap: 150px;
    }

    img {
      width: 78px;
      height: 78px;
    }

    .col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 28px;
    }

    .text {
      font-size: 16px;
      line-height: 14px;
      text-align: center;
    }

    .text_gap {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .link {
        color: #00cccc;
        text-decoration: underline;
      }
    }
  }

  &.footer_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
    padding-top: 94px;
    padding-bottom: 107px;
    height: 425px;
    background-color: #000028;

    .lines {
      display: flex;
      gap: 3rem;
    }
  }

  @media (min-width: 1024px) and (max-width: 1700px) {
    &.footer_buttons {
      align-items: flex-start;
    }
  }

  @media (min-width: 1024px) {
    &.footer_buttons {
      flex-direction: row !important;
    }
  }

  @media (max-width: 1280px) {
    &.footer_buttons {
      height: 567px;
    }
  }

  &.footer {
    background-color: #23233c;
    padding: 60px 66px;

    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.65);

    @media (max-width: 768px) {
      .column {
        gap: 20px !important;
      }

      .top_row {
        flex-direction: column;
        gap: 20px !important;
      }

      .bottom_row {
        flex-direction: column;
        gap: 20px !important;
      }

      .word_break {
        width: 120px !important;
        text-align: center;
      }
    }

    .column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      text-decoration: underline;
    }

    .top_row {
      display: flex;
      gap: 125px;
      align-items: center;
      justify-content: center;
    }

    .bottom_row {
      display: flex;
      gap: 312px;
      align-items: center;
      justify-content: center;
    }

    .word_break {
      width: auto;
    }
  }
}

.call_to_actions_background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  bottom: 0;
  top: 0;
}

.information_cards_background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;

  @media (max-width: 768px) {
    display: none;
  }
}

.brand_desgin_background_color {
  background-color: #23233c;
  overflow: hidden;
  position: relative;
}

@media (max-width: 768px) {
  .brand_desgin_background_image {
    bottom: 0;
    top: -30%;
  }
}

@media (max-width: 576px) {
  .brand_desgin_background_image {
    display: none;
  }
}

.brand_desgin_background_image {
  position: absolute;
  z-index: 0;
  right: 0;
  top: 0;
}

.button {
  padding: 10px;
}

.headline {
  position: relative;
  display: flex;
  padding: 10px 0;

  @media (max-width: 768px) {
    &_h1 {
      font-size: 30px !important;
      line-height: 35px;
    }

    &_h2 {
      font-size: 30px !important;
      line-height: 35px;
    }

    .content {
      gap: 10px !important;
    }
  }

  @media (max-width: 576px) {
    .line {
      display: none !important;
    }

    .text_dark {
      width: 348px !important;
    }
  }

  @media (max-width: 376px) {
    .text_dark {
      width: 318px !important;
    }
  }

  .line {
    height: 100%;
    background-image: linear-gradient(to bottom, #00ffb9, #00cccc);
    margin: auto 18px auto 0;

    &.dark {
      background-image: linear-gradient(#000, #000);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &_h1 {
    font-size: 60px;
    line-height: 45px;

    .line {
      width: 6px;
      height: calc(45px + 45px + 20px); // 2x line-height + gap
    }
  }

  &_h2 {
    font-size: 40px;
    line-height: 25px;

    .line {
      width: 4px;
      height: calc(25px + 25px + 20px); // 2x line-height + gap
    }
  }

  .hidden {
    display: none;
  }

  .bold {
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .text_2 {
    font-size: 16px !important;
    line-height: 24px !important;
  }
}

.no_line {
  margin-left: 24px;
}

.text_2 {
  font-size: 22px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.85);
}

.text_dark {
  color: rgba(0, 0, 0, 0.85);
}

@media (max-width: 576px) {
  .description {
    margin: 30px 0 0 0 !important;
    width: 100% !important;
  }
}

.description {
  width: 500px;
  margin: 30px 0 0 24px;
}

.Card_Box {
  display: flex;
  justify-content: flex-end;
  height: fit-content;
  padding-bottom: 120px;
}

.Card_Info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  width: 365px;
  border-radius: 2px;
  padding-left: 26px;
  padding-right: 26px;
  margin-top: 20px;
  position: absolute;
  bottom: 90px;
}

.Card_Line {
  display: flex;
  font-size: 16px;
  line-height: 24px;
  gap: 16px;
}

@media (max-width: 1280px) {
  .Card_Box {
    justify-content: flex-start;
    width: 100%;
  }

  .Card_Info {
    position: relative;
    bottom: unset;
  }

  .Card_Line {
    font-size: 14px !important;
    line-height: 20px !important;
    width: 475px;
  }

  .Card_Icon {
    font-size: 1.25rem !important;
  }
}

@media (max-width: 576px) {
  .Card_Info {
    padding: 0 !important;
  }

  .Card_Line {
    width: auto !important;
  }
}

.Card_Icon {
  color: var(--theme-color-primary) !important;
}

.Button {
  display: flex;
  align-items: center;
  width: 340px;
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 10px;
  text-decoration: none !important;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);

  &.Justify {
    justify-content: center;
  }

  &.Primary {
    background-color: var(--theme-color-primary);
    border: 1px solid var(--theme-color-primary);

    @media (max-width: 576px) {
      width: auto;
    }

    &:hover {
      background-color: var(--theme-btn-primary--background--hover) !important;
      color: var(--theme-btn-primary--color--hover) !important;
    }

    &:active {
      background-color: var(--theme-btn-primary--background--active) !important;
      color: var(--theme-btn-primary--color--active) !important;
    }
  }

  &.Secondary {
    background-color: #000028;
    border: 1px solid var(--theme-color-primary);

    &:hover {
      background-color: var(--theme-btn-secondary--background--hover) !important;
      color: var(--theme-btn-secondary--color--hover) !important;
      border-color: var(--theme-btn-outline-primary--border-color--hover);
    }

    &:active {
      background-color: var(--theme-btn-secondary--background--active) !important;
      color: var(--theme-btn-secondary--color--active) !important;
      border-color: var(--theme-btn-outline-primary--border-color--active);
    }
  }

  &.Grey {
    background-color: rgb(216, 216, 220);
    border: 1px solid rgb(216, 216, 220);
  }

  .IconDiv {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    color: var(--theme-color-1);
    padding-right: 15px;
    padding-left: 5px;

    &.hidden {
      display: none;
    }

    .Icon {
      width: 3rem;
      height: 3rem;

      &.Primary {
        color: black;
      }

      &.Secondary {
        color: var(--theme-color-primary);
      }

      &.Grey {
        color: black;
      }
    }
  }

  .Label {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;

    &.Primary {
      color: black;
    }

    &.Secondary {
      color: var(--theme-color-primary);
    }

    &.Grey {
      color: black;
    }
  }
}

@media (max-width: 768px) {
  .Button {
    height: 55px;
  }
}

.Footer_Button {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  width: 365px;
  height: 100%;
  background-color: var(--theme-color-primary);
  cursor: pointer;
}

.Footer_Button__Icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--theme-color-1) !important;
}

.Footer__Button__Title {
  display: block;
  position: relative;
  height: 2.7rem;
  color: black;
  margin: 0.5rem;
}
