/*
 * SPDX-FileCopyrightText: 2022 Siemens AG
 *
 * SPDX-License-Identifier: MIT
 */

@import 'common-variables';
@import 'mixins/fonts';
@import 'mixins/hover';

:host {
  --animate-duration: #{$medium-time};

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;

  ul {
    display: flex;
    padding: 0;
    margin: 0;
    position: relative;

    li {
      display: flex;
      justify-content: center;
      width: 5rem;
      height: 4.5rem;
      cursor: pointer;
      padding-top: 0.625rem;

      &.bottom {
        padding-top: 0.875rem;
      }

      .tab-container {
        background: var(--theme-animated-tab-circle--background);
        border: solid 1px var(--theme-animated-tab-circle--border-color);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6.25rem;
        width: 3rem;
        height: 3rem;
        position: relative;
        transition: $default-time;

        ix-icon {
          color: var(--theme-animated-tab-icon--color) !important;
        }

        @include hover {
          background: var(--theme-animated-tab-circle--background--hover);
          border-color: var(--theme-animated-tab-circle--border-color--hover);

          ix-icon {
            color: var(--theme-animated-tab-icon--color--hover) !important;
          }
        }

        @include active {
          background: var(--theme-animated-tab-circle--background--active);
          border-color: var(--theme-animated-tab-circle--border-color--active);

          ix-icon {
            color: var(--theme-animated-tab-icon--color--active) !important;
          }
        }

        &.selected {
          background: var(--theme-animated-tab-circle--background--selected);
          border-color: var(
            --theme-animated-tab-circle--border-color--selected
          ) !important;

          ix-icon {
            color: var(--theme-animated-tab-icon--color--selected) !important;
          }

          .count {
            border-color: var(
              --theme-tab-pill--border-color--selected
            ) !important;
          }
        }

        // TODO
        &.disabled,
        &:disabled {
          ix-icon {
            color: var(--theme-animated-tab-icon--color--disabled) !important;
          }
        }

        // TODO
        @include focus-visible {
          border-color: var(--theme-focus--border-color) !important;
        }

        .count {
          @include text-caption-single;
          display: flex;
          align-items: center;
          height: 1rem;
          position: absolute;
          background-color: var(--theme-pill-outline--background);
          bottom: -0.55rem;
          border: 1px solid var(--theme-tab-pill--border-color);
          border-radius: 6.25rem;
          color: var(--theme-pill-outline--color);
          padding: 0 $tiny-space;
          background: var(--theme-color-1);
          transition: $default-time;

          &.bottom {
            top: -0.55rem;
          }
        }
      }
    }
  }

  .content-container {
    display: flex;
    flex-direction: row;
    height: calc(100% - 4.5rem);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .tab-active-underline {
    background-color: var(--theme-animated-tab-indicator--background--selected);
    height: 0.125rem;
    width: 5rem;
    margin-top: -0.125rem;
    transition: $default-time;
    position: absolute;
    top: 4.5rem;

    &.bottom {
      top: 0;
      margin-top: 0;
    }
  }
}
