
@import 'common-variables';
@import 'mixins/fonts';
@import 'mixins/text-truncation';

:host {
  $appHeaderHeight: 3.5rem;
  $appHeaderGradientHeight: 4rem;
  $navHeaderHeight: 11.5rem;
  $sidebarWidth: 29.75rem;

  display: flex;
  position: relative;
  width: 100%;
  height: 100%;

  .map-nav {
    display: flex;
    margin-left: 4rem;
    position: relative;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
  }

  .map-nav-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $sidebarWidth;
    max-width: $sidebarWidth;
    min-width: $sidebarWidth;
    height: 100%;
    left: 4rem;
    background-color: var(--theme-color-1);
    border-inline-end: 1px solid
      var(--theme-map-navigation-separator--background);
    z-index: 99;
  }

  .map-nav-sidebar-content {
    align-items: center;
    position: relative;
    overflow: auto;
    height: 100%;
    width: 100%;

    .map-nav-sidebar-static-content {
      @include text-h2;
      display: flex;
      justify-content: space-between;
      margin-top: 0.437rem;
      margin-bottom: 0.812rem;
      margin-left: $default-space;
      margin-right: $default-space;
    }
  }

  .map-nav-header {
    display: flex;
    position: relative;
    align-items: center;
    height: $appHeaderHeight;
    min-height: $appHeaderHeight;
    width: 100%;

    .map-nav-header-brand {
      background-color: var(--theme-map-navigation-background);
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      padding: 0 $default-space;

      button {
        margin-left: $default-space;
      }

      .map-nav-brand-logo {
        min-width: 4.75rem;
        margin-inline-end: 3.5rem;
      }

      .map-nav-brand-title {
        @include text-l-title;
        @include ellipsis;
        color: var(--theme-map-navigation-header--color);
        flex-grow: 1;
      }
    }
  }

  .map-nav-header-content {
    display: flex;
    height: $appHeaderHeight;
    align-items: center;
    overflow: hidden;
    padding: 0 $default-space;

    &:empty {
      height: 0;
    }
  }

  .map-nav-title {
    @include text-h2();

    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .content {
    display: block;
    flex-grow: 1;
    position: relative;
    height: 100%;
    overflow: hidden;
    z-index: calc(var(--theme-z-index-sticky) - 1);
  }

  #overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: calc(#{var(--theme-z-index-sticky)} + 1);
  }
}
