<section class="panel" aria-label="Password criteria">
  <ix-input
    label="Label*"
    type="password"
    [value]="password"
    (valueChange)="onPasswordChange($event)"
  ></ix-input>

  <ul class="ruleList" aria-label="Password requirements">
    <li *ngFor="let rule of rules" class="ruleItem">
      <span
        [class]="'ruleIcon ' + (rule.isValid ? 'valid' : 'invalid')"
        aria-hidden="true"
      >
        @if (rule.isValid) {
          <ix-icon [name]="icons.iconCheck" size="16"></ix-icon>
        } @else {
          <ix-icon [name]="icons.iconClose" size="16"></ix-icon>
        }
      </span>
      <span class="ruleLabel">{{ rule.label }}</span>
    </li>
  </ul>
</section>
