/*
Hide color mode toggle in small viewports
 */
@media (max-width: 996px) {
  .colorModeToggle {
    display: none;
  }
}

.Logo__Padding {
  padding-left: 4.875rem;
}

@media (max-width: 997px) {
  .Logo__Padding {
    padding-left: 1rem;
  }
}

