name: Pull Request

on:
  pull_request:
    branches-ignore:
      - 'changeset-release/main'
    types:
      - opened
      - reopened
      - synchronize
    paths-ignore:
      - '**/*.md'

concurrency:
  group: pr-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      core_any_changed: ${{ steps.changes.outputs.core_any_changed }}
      core_all_changed_files: ${{ steps.changes.outputs.core_all_changed_files }}
      aggrid_any_changed: ${{ steps.changes.outputs.aggrid_any_changed }}
      echarts_any_changed: ${{ steps.changes.outputs.echarts_any_changed }}
      docs_any_changed: ${{ steps.changes.outputs.docs_any_changed }}
      unittests_any_changed: ${{ steps.changes.outputs.unittests_any_changed }}
    steps:
      - uses: actions/checkout@v4
      - name: Track changes between commits
        id: changes
        uses: tj-actions/changed-files@2f7c5bfce28377bc069a65ba478de0a74aa0ca32
        with:
          files_yaml: |
            core:
              - packages/core/**
            aggrid:
              - packages/aggrid/**
            echarts:
              - packages/echarts/**
            docs:
              - packages/documentation/**
              - packages/example-styles/**
              - packages/html-test-app/**
              - packages/angular-test-app/**
              - packages/react-test-app/**
              - packages/vue-test-app/**
            unittests:
              - packages/core/**
              - packages/angular/**
              - packages/react/**
              - packages/angular-test-app/**
              - packages/react-test-app/**
              - packages/figma-plugin/**

  build:
    needs: changes
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: ./.github/workflows/actions/turbo

      - name: Build
        run: pnpm build --cache-dir=.turbo

      - name: Lint
        run: pnpm lint

      - name: Check for local development changes
        run: ./scripts/lint-build.sh

      - name: Documentation
        uses: actions/upload-artifact@v4
        with:
          name: documentation-${{ github.run_attempt }}
          path: ./packages/documentation/build

  visual-testing-core:
    if: ${{ needs.changes.outputs.core_any_changed == 'true' || github.event.pull_request.user.login == 'dependabot[bot]' }}
    needs: [build, changes]
    timeout-minutes: 10
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        shardIndex: [1, 2, 3, 4]
        shardTotal: [4]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/actions/turbo
      - uses: ./.github/workflows/actions/visual-regression
        with:
          projectName: 'core'
          projectPath: './packages/core/blob-report/'
          shardIndex: '${{ matrix.shardIndex }}'
          shardTotal: '${{ matrix.shardTotal }}'

  merge-core-reports:
    if: failure()
    needs: [visual-testing-core]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/actions/turbo
      - uses: ./.github/workflows/actions/merge-reports
        with:
          projectName: 'core'
          blobPattern: 'core-blob-report-*'

  visual-testing-aggrid:
    if: ${{ needs.changes.outputs.core_any_changed == 'true' || needs.changes.outputs.aggrid_any_changed == 'true' || github.event.pull_request.user.login == 'dependabot[bot]' }}
    needs: [build, changes]
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/actions/turbo
      - uses: ./.github/workflows/actions/visual-regression
        with:
          projectName: '@siemens/ix-aggrid'
          projectPath: './packages/aggrid/playwright-report/'

  visual-testing-echarts:
    if: ${{ needs.changes.outputs.core_any_changed == 'true' || needs.changes.outputs.echarts_any_changed == 'true' || github.event.pull_request.user.login == 'dependabot[bot]' }}
    needs: [build, changes]
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/actions/turbo
      - uses: ./.github/workflows/actions/visual-regression
        with:
          projectName: '@siemens/ix-echarts'
          projectPath: './packages/echarts/playwright-report/'

  unit:
    if: ${{ needs.changes.outputs.unittests_any_changed == 'true' || github.event.pull_request.user.login == 'dependabot[bot]' }}
    needs: [build, changes]
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/actions/turbo
      - uses: ./.github/workflows/actions/unit

  unit-memlab:
    if: ${{ needs.changes.outputs.unittests_any_changed == 'true' || github.event.pull_request.user.login == 'dependabot[bot]' }}
    needs: [build, changes]
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/actions/turbo

      - name: Test
        run: |
          cd testing/performance-memlab
          pnpm dlx puppeteer browsers install chrome@127.0.6533.88
          pnpm test.memlab
