name: Snapshot Release

on:
  workflow_dispatch:
    inputs:
      snapshot_name:
        description: 'Snapshot name'
        required: true
        type: string

jobs:
  release_next:
    name: release:next
    runs-on: ubuntu-latest
    # Permissions necessary for Changesets to push a new branch and open PRs
    # (for automated Version Packages PRs), and request the JWT for provenance.
    # More info: https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect#adding-permissions-settings
    permissions:
      contents: write
      pull-requests: write
      id-token: write
      statuses: read
    if: |
      github.repository == 'siemens/ix' &&
      (
        github.event.sender.login == 'danielleroux' ||
        github.event.sender.login == 'nuke-ellington'
      )

    steps:
      - name: Checkout ref
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: ./.github/workflows/actions/turbo

      - name: Check for pre.json file existence
        id: check_files
        uses: andstor/file-existence-action@076e0072799f4942c8bc574a82233e1e4d13e9d6
        with:
          files: '.changeset/pre.json'

      - name: Exit pre mode if pre.json exists
        # Changesets prevents us from generating a snapshot release
        # if we're in prerelease mode, so we remove `pre.json` if it exists
        # (but do not commit this change since we want the branch to remain
        # in pre mode)
        if: steps.check_files.outputs.files_exists == 'true'
        run: rm .changeset/pre.json

      - name: Release to snapshot
        run: |
          pnpm changeset version --snapshot $SNAPSHOT_NAME
          pnpm i --lockfile-only
          pnpm build
          echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> .npmrc
          pnpm changeset publish --no-git-tag --snapshot --tag $SNAPSHOT_NAME
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          SNAPSHOT_NAME: ${{ github.event.inputs.snapshot_name }}
