name: (Shared) Manage stale issues and PRs
on:
  schedule:
    # Run hourly
    - cron: '0 * * * *'
  workflow_dispatch:

permissions:
  issues: write
  pull-requests: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9
        with:
          # --- Issues & PRs ---
          # Number of days of inactivity before an issue or PR becomes stale
          days-before-stale: 90
          # Number of days of inactivity before a stale issue or PR is closed
          days-before-close: 7
          # API calls per run
          operations-per-run: 100

          # --- Issues ---
          stale-issue-label: 'Resolution: Stale'
          # Comment to post when marking an issue as stale
          stale-issue-message: >
            This issue has been automatically marked as stale.
            **If this issue is still affecting you, please leave any comment** (for example, "bump"), and we'll keep it open.
            We are sorry that we haven't been able to prioritize it yet. If you have any new additional information, please include it with your comment!
          # Comment to post when closing a stale issue
          close-issue-message: >
            Closing this issue after a prolonged period of inactivity. If this issue is still present in the latest release, please create a new issue with up-to-date information. Thank you!
          # Issues with these labels will never be considered stale
          exempt-issue-labels: 'Workflow: Issue created'
